.random-photo
  .header.gradient= link_to t('activerecord.models.product'), '#'
  = link_to '#', :class => 'rand-picture', :style => "height:120px;" do
    = image_tag '/assets/products/missing.jpg', :size => '180x120'