- if news.size > 0
  .news-index
    - news.decorate.each do |n|
      .news-item.clearfix
        .cover
          %a.hover{href: n.url, target: n.target}
            = image_tag n.photo.url(:thumb), alt: n.title, title: n.title, size: n.photo.image_size(:thumb)
        .content
          %h1
            %a.hover{href: n.url, target: n.target, title: n.title}
              = n.title
          %p= n.anonce
      .news-info.clearfix
        .grid_7.alpha
          - if n.related_comments && (count_comments = n.related_comments.count) > 0
            .comments-info
              %a{href: "#{n.url}#comments-news", target: n.target}
                = t('news.comments_count', count: count_comments)
          - else
            &nbsp;
        .grid_7.omega
          .datestamp= l(n.created_at)

    %p.all_news
      %a{href: news_index_url}= t('news.all')
