= semantic_form_for [:admin, @page] do |f|
  = error_messages(@page)
  = f.inputs t('formtastic.details') do
    = f.input :title
    = f.input :parent, :as => :select, :collection => nested_set_options(Page, @page) {|i, level| "#{'-' * level} #{i.title}" }
    = f.input :body, :as => :ckeditor, :input_html => {:ckeditor => {:toolbar => 'Admin', :width => '76%'}}
  = f.inputs t('formtastic.additional') do
    = f.input :show_comments
    = f.input :in_menu
    = f.input :link
    = f.input :meta_description, :as => :text, :input_html => { :rows => 4 }
    = f.input :browser_title
  = f.actions do
    = f.action :submit
