= render_tree @pages, :class => 'pages-navigation-list' do |node, child|
  %li
    .node-row.even.clearfix
      .node-link
        = link_to node.title, edit_admin_page_path(node)
      .node-actions
        = link_to I18n.t('active_admin.view'), admin_page_path(node), :class => 'member_link view_link'
        = link_to I18n.t('active_admin.edit'), edit_admin_page_path(node), :class => 'member_link edit_link'
        = link_to I18n.t('active_admin.delete'), admin_page_path(node), :method => :delete, :class => 'member_link delete_link', :confirm => I18n.t('active_admin.delete_confirmation')
    = child
