= semantic_form_for [:admin, @calendar] do |f|
  = error_messages(@calendar)
  = f.inputs t('formtastic.details') do
    = f.input :title
    = f.input :start_at, :as => :datetime, :start_year => Date.today.year, :end_year => Date.today.year + 5
    = f.input :finish_at, :as => :datetime, :start_year => Date.today.year, :end_year => Date.today.year + 5
    = f.input :place, :as => :text, :input_html => { :rows => 4 }
    = f.input :disciplines, :as => :text, :input_html => { :rows => 4 }
    = f.input :organizations, :as => :text, :input_html => { :rows => 4 }
  = f.actions do
    = f.action :submit