.message_form
  = simple_form_for(Message.new, :url => discussion_messages_path(discussion), :html => { :class => 'form-vertical' }, :method => :post, :remote => true) do |f|
    = f.input :body, :input_html => { :rows => 4, :style => 'width: 96%;' }
    = f.submit t('messages.send'), :class => 'btn'