.message.clearfix
  .user-pic
    = link_to user_path(message.user), :class => 'active-img' do
      = image_tag message.user.profile.avatar.url(:small), :size => message.user.profile.avatar.image_size(:small)
  .user-name
    = link_to message.user.name, user_path(message.user)
    .datestamp= human_time_in_words(message.created_at)
  .message-body= message.body.smileize.html_safe