<% inboxes_faye_broadcast "/discussions/#{@message.discussion.id}" do %>
    $("#messages_box").append("<%= j render @message %>");
    $("#messages_box").scrollTop($("#messages_box").get(0).scrollHeight + 20);
    $("#new_message")[0].reset();
<% end %>