- breadcrumb :user, @user

.user-info
  %h3= @user.name

  .grid_5.alpha
    = image_tag @user.avatar.url(:medium), :class => 'img-polaroid', :size => @user.avatar.image_size(:medium)

    .user_profile_menu
      %p.edit_profile= link_to t('profiles.edit'), edit_user_registration_path
      %p.new_message= link_to t('activerecord.models.message.other'), discussions_path
  .grid_9.omega
    %table.table.user_info
      %tr
        %th= "#{t('activerecord.attributes.user.status')}:"
        %td
          - if @user.online?
            %span.label.label-success= t('users.online')
          - else
            %span.label= t('users.offline')
      %tr
        %th= "#{t('activerecord.attributes.user.created_at')}:"
        %td= l(@user.created_at)
      %tr
        %th= "#{t('activerecord.attributes.user.email')}:"
        %td= @user.email
      - if @user.birthday
        %tr
          %th= "#{t('activerecord.attributes.profile.birthday')}:"
          %td= l(@user.birthday)
      - if @user.gender.to_s != ''.freeze
        %tr
          %th= "#{t('activerecord.attributes.profile.gender')}:"
          %td= @user.gender
      - if @user.forum_sign.to_s != ''.freeze
        %tr
          %th= "#{t('activerecord.attributes.profile.forum_sign')}:"
          %td= @user.forum_sign
      - if @user.bio.to_s != ''.freeze
        %tr
          %th= "#{t('activerecord.attributes.profile.bio')}:"
          %td= @user.bio
