.forum-menu
  %table.table
    %tr
      %td= will_paginate topics
      %td
        - if user_signed_in?
          = link_to t('topics.start'), new_forum_topic_path(forum), class: 'btn btn-mini'
          - if forum.topics.published.count > 0
            - if forum.subscribe?(current_user)
              = link_to t('topics.unsubscribe'), unsubscribe_forum_path(forum), class: 'btn btn-mini', method: :delete
            - else
              = link_to t('topics.feed'), subscribe_forum_path(forum), class: 'btn btn-mini', method: :post
        - else
          %p
            = t('topics.to_answer_you_should')
            = link_to t('users.sign_in'), new_user_session_path
            = t(:or)
            = link_to t('users.sign_up'), new_user_registration_path
