- breadcrumb :forums

- @forums.each_with_index do |forum, idx|
  .forum
    %table.table.table-condensed.table-striped.forums
      %thead
        %tr
          %th.gradient.title{:colspan => 2, :width => 499}
            %a{:href => forum_url(forum)}
              = forum.title
          %th.gradient{:width => 109}= t('topics.answers')
          %th.gradient{:width => 109}= t('topics.views')
          %th.gradient.updates{:width => 170}= t('topics.last_post')
      %tbody
        - topics = forum.topics.published.pinned.ordered.preload(:user).limit(idx > 0 ? 4 : 10)
        - if topics.size.zero?
          %tr
            %td{colspan: 5}
              = t('forums.no_topics')
        - else
          = render topics, :forum => forum
