- breadcrumb :forum, @forum

.forum
  = render 'menu', :forum => @forum, :topics => @topics

  %table.table.table-condensed.table-striped.forums-show
    %thead
      %tr
        %th.gradient.title{:colspan => 2, :width => 499}= link_to @forum.title, forum_path(@forum)
        %th.gradient{:width => 109}= t('topics.answers')
        %th.gradient{:width => 109}= t('topics.views')
        %th.gradient.updates{:width => 170}= t('topics.last_post')
    %tbody
      - unless @topics.size > 0
        %tr
          %td{colspan: 5}
            = t('forums.no_topics')
      - else
        = render @topics, :forum => @forum

  = render 'menu', :forum => @forum, :topics => @topics
