.widget-block
  .header.gradient
    = link_to t('activerecord.models.calendar'), calendar_path, :rel => :backbone
  .content.games
    - if @competitions.size > 0
      %table.table
        %tbody
          - @competitions.decorate.each do |c|
            %tr
              %td
                .games__title= truncate(c.title, :length => 55, :separator => ' ')
              %td{:width => 70}= c.due_days.html_safe
