.login-form
  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-horizontal', :autocomplete => 'off', :multipart => true }) do |f|
    = devise_error_messages!
    = f.input :name

    = f.simple_fields_for :profile do |p|
      = p.input :avatar
      = p.input :birthday, :as => :date, :start_year => Date.today.year - 70, :end_year => Date.today.year - 12
      = p.input :gender, :collection => [ t('profiles.gender.male'), t('profiles.gender.female') ], :include_blank => false

    = f.input :email, :required => true

    = f.simple_fields_for :profile do |p|
      = p.input :show_email
      = p.input :show_online
      - if f.object.provider.present? && f.object.provider != 'vkontakte' && f.object.omniauth_token.to_s != ''
        = p.input :publish_comments, :label => t('activerecord.attributes.profile.publish_comments', :network => f.object.provider)

    = f.input :password, :required => false, :autocomplete => "off", :hint => t(:leave_empty_if_not_want)
    = f.input :password_confirmation
    - if f.object.encrypted_password.present?
      = f.input :current_password, :required => true

    = f.simple_fields_for :profile do |p|
      = p.input :bio, :input_html => { :rows => '6', :class => 'input-xxlarge' }
      = p.input :forum_sign, :as => :text, :input_html => { :rows => '3', :class => 'input-xxlarge' }
      = p.input :time_zone, priority: /Ekaterinburg/

    .form-actions
      = f.submit t('profiles.update'), :class => 'btn'
      = link_to t(:cancel), profile_path, :class => 'btn'

  %h3= t('profiles.remove')

  %p
    = t('profiles.unhappy')
    = link_to t('profiles.remove'), registration_path(resource_name), :data => { :confirm => t(:are_you_sure) }, :method => :delete
