- breadcrumb :sign_up

#new-registration
  .login-form
    - if Rails.env.production?
      = flash[:recaptcha_error]
    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'form-vertical', :autocomplete => 'off' }) do |f|

      - if f.object.password_required?
        = devise_error_messages!

      = f.input :name

      = f.input :email, :required => true

      - if f.object.password_required?
        = f.input :password, :required => true
        = f.input :password_confirmation, :required => true

      = f.fields_for :profile do |p|
        = p.input :time_zone, priority: /Ekaterinburg/

      = f.input :tos_agreement, label: t('activerecord.attributes.user.tos_agreement_html'), as: :boolean, checked_value: '1'

      .login-actions
        - if Rails.env.production?
          = invisible_recaptcha_tags text: t('users.sign_up')
        - else
          = f.button :button, t('users.sign_up'), :id => "sign_up"
        - if controller_name != 'sessions'
          = link_to t('users.sign_in'), new_session_path(resource_name), :class => 'user_registration', rel: 'backbone'
        - if devise_mapping.recoverable? && controller_name != 'passwords'
          = link_to t('users.forgot_your_password'), new_password_path(resource_name), :class => 'user_forgot_password'

  .form-actions.login-actions
    %h3= t('users.enter_with_social_networks')
    .social-networks
      = link_to '', user_omniauth_authorize_path(:facebook), :class => 'btn-facebook'
      = link_to '', user_omniauth_authorize_path(:twitter, :x_auth_access_type => 'write'), :class => 'btn-twitter'
      = link_to '', user_omniauth_authorize_path(:vkontakte), :class => 'btn-vk'
