.widget-block
  .header.gradient
    %a.twitter-link{:href => settings_value('Twitter'), target: '_blank'}
      %span.twit-icon
        = t(:twitter)
  .content.twitter
    %p
      = t('twitter_cell.error') if twits.blank?
    - twits.slice(0, settings_value('Количество новостей твиттера').to_i).each do |status|
      .twit
        %p.twit-text= auto_link(status.text, html: {target: '_blank'})
        %p.datestamp= timeago_tag(status.created_at)
