= simple_form_for(discussion, :url => discussions_path, :html => { :class => 'form-vertical' }) do |f|
  %input{:type => 'hidden', :value => params[:user_id], :name => 'discussion[recipient_tokens][]'}
  = f.simple_fields_for :messages do |j|
    = j.input :body, :input_html => { :rows => 4, :style => 'width: 96%;' }
  = f.submit t('messages.send'), :class => 'btn'