.discussions
  - if @discussions.size.zero?
    %p= t('messages.no_messages')
  - @discussions.each do |discussion|
    - last_message = discussion.messages.where('user_id <> ?', current_user.id).last || discussion.messages.last
    .message.clearfix
      .user-pic
        = link_to user_path(last_message.user), :class => 'active-img' do
          = image_tag last_message.user.profile.avatar.url(:small), :size => last_message.user.profile.avatar.image_size(:small)
      .user-name
        = link_to last_message.user.name, user_path(last_message.user)
        .datestamp= human_time_in_words(discussion.updated_at)
      - if discussion.unread_for?(current_user)
        .message-body.unreaded
          = link_to discussion_path(discussion), :class => 'link-message' do
            = last_message.body
      - else
        .message-body
          = link_to discussion_path(discussion), :class => 'link-message' do
            = last_message.body
