.receiver
  = link_to user_path(@user), :class => 'active-img' do
    = image_tag @user.avatar.url(:small), :size => @user.avatar.image_size(:small), :alt => @user.name, :class => 'img-polaroid'
  = "#{t('messages.to')}:"
  = link_to @user.name, user_path(@user)
= render 'form', :discussion => @discussion