- if Inboxes::config.faye_enabled
  - content_for(:javascript_bottom) do
    = javascript_include_tag 'messaging'

#messages_box
  = render @discussion.messages, :as => :message

= render 'messages/form', discussion: @discussion