- if user_signed_in? && current_user.id == comment.user.id
  - user_link = profile_path
- else
  - user_link = user_path(comment.user)

%div{id: "comment-item#{comment.id}"}
  %table.table.cm-item
    %tbody
      %tr
        %td.cm-title{colspan: 2}
          %span.cm-author= link_to comment.user_name, user_link
          %span.cm-date.datestamp= timeago_tag(comment.created_at)
      %tr
        %td
          %a{href: user_link}
            - avatar = comment.user_avatar
            = image_tag avatar.url(:small), alt: comment.user_name, size: avatar.image_size(:small)
        %td
          = auto_link(comment.comment, html: {target: '_blank'}, sanitize: false).html_safe
