= simple_form_for(comment, url: '', html: { id: nil, class: 'form-vertical form-comment clearfix' }, method: :post) do |f|
  .current_user_avatar= image_tag current_user.avatar.url(:small), :size => current_user.avatar.image_size(:small)

  = f.input :comment, :as => :text, :input_html => { :rows => 4, :class => 'comment-field', :placeholder => t('comments.do_comment') }, :label => false
  = f.submit t('comments.send'), :class => "btn"

  - if current_user.provider == 'facebook' && current_user.publish_comments?
    .publish_to_social= t('comments.will_be_send_to_fb')