- if user_signed_in?
  = render 'comments/form', comment: @comment
- else
  %p
    = t('comments.to_answer_you_should')
    = link_to t('users.sign_in'), new_user_session_path, rel: 'backbone'
    = t(:or)
    = link_to t('users.to_sign_up'), new_user_registration_path