= semantic_form_for [:admin, @banner] do |f|

  = error_messages(@banner)

  = f.inputs t('formtastic.details') do
    = f.input :name
    = f.input :published
    - if @banner.banner.exists?
      %li.optional
        %label.label= t('banners.current_banner')
        = image_tag @banner.banner.url(:thumb), :size => @banner.banner.image_size(:thumb)
    = f.input :banner
    = f.input :link
    = f.input :place, :as => :select, :collection => [ 'Левый в шапке', 'Правый в шапке', 'Растяжка', 'Левый сайдбар', 'Правый сайдбар', 'Левый в подвале', 'Правый в подвале' ]
    %li.optional
      %label.label= t(:hint)
      = link_to "/assets/banner_places.png", :target => '_blank' do
        = image_tag "/assets/banner_places.png", :size => '105x150'
    = f.input :max_clicks
  = f.actions do
    = f.action :submit