= form_tag search_path, :method => :get, :class => 'form-search' do
  .input-append
    = text_field_tag :query, params[:query] || '', :class => 'search-query', maxlength: 30
    = submit_tag t('search'), :class => 'btn'