- breadcrumb :search, request.fullpath

.search_results
  %h2= "#{@results.size} #{t('results', :count => @results.size)}"
  - if @results.size.nonzero?
    .results
      - @results.each do |result|
        .item
          %h3= link_to result.excerpts.title.html_safe, result.url_path
          .datestamp= l(result.created_at, :format => :full)
          %p= result.excerpts.body.html_safe
          %p
            = t("activerecord.models.#{result.class.to_s.tableize.singularize}.other")
            \-
            = link_to result.url_path, result.url_path
