- if @photo
  .random-photo
    .header.gradient
      = link_to top_photo_link(@photo), rel: :backbone do
        = t('activerecord.models.top_photo')

    = link_to top_photo_link(@photo), rel: :backbone, class: 'rand-picture', style: "height:#{@photo.photo.height(:top)}px;" do
      = image_tag @photo.photo.url(:top), :size => @photo.photo.image_size(:top), :alt => @photo.description
      .description-overlay
        %p= truncate(@photo.description, length: 48, separator: ' ', omission: '...')
