= semantic_form_for [:admin, @news] do |f|
  = error_messages(@news)
  = f.inputs t('formtastic.details') do
    = f.input :title
    = f.input :photo
    = f.input :anonce, :as => :text, :input_html => { :rows => 4 }
    = f.input :external_link, :hint => t('news.hints.external_link')
    = f.input :body, :as => :ckeditor, :input_html => {:ckeditor => {:toolbar => 'Admin', :width => '76%'}}, :hint => t('news.hints.body')
  = f.inputs t('formtastic.additional') do
    = f.input :published
    = f.input :meta_description, :as => :text, :input_html => { :rows => 4 }

  - if params[:action] == "edit" || params[:action] == "update"
    = f.actions do
      = f.action :submit

    = f.inputs t('photos.attach'), :id => 'edit-photos' do
      %table
        %tr
          %td
            %h4= t('photos.upload')
            #file-upload{:'data-path' => attach_admin_news_path(@news)}
          %td{:style => "width: 80%;"}
            %h4= t('photos.edit')
            #uploaded{:data => { :rebuildurl => rebuild_admin_news_path(@news), :topurl => topurl_admin_news_path(@news), :intopurl => intop_admin_news_path(@news) } }
              = f.semantic_fields_for :photos do |photo|
                .photo-item{ :id => "pic_#{photo.object.id.to_s}" }
                  .wrapper-image= image_tag photo.object.photo.url(:thumb)
                  .textarea-wrapper= photo.input :description, :label => false, :input_html => { :rows => '6' }
                  = photo.input :_destroy, :label => t('photos.delete'), :as => :boolean
                  = photo.input :in_top, :input_html => { :class => 'in_top', :data => { :id => photo.object.id } }
                  = photo.input :top_at_once, :input_html => { :class => 'show_top_at_once', :data => { :id => photo.object.id } }

    = f.inputs t('videos.attach') do
      = link_to t('videos.add'), '#', :id => "add-video"
      = f.semantic_fields_for :videos do |video|
        = video.input :link

  = f.actions do
    = f.action :submit
