.item
  %h1
    - if competition.competition_articles.size > 0
      = link_to competition.title, competition_path(competition.year, competition)
    - else
      = competition.title

  .content= competition.preview.html_safe
  .cover
    - if competition.thumbnail_image.exists?
      - if competition.competition_articles.size > 0
        = link_to competition_path(competition.year, competition) do
          = image_tag competition.thumbnail_image.url(:thumb), size: competition.thumbnail_image.image_size(:thumb), alt: competition.title
      - else
        = image_tag competition.thumbnail_image.url(:thumb), size: competition.thumbnail_image.image_size(:thumb), alt: competition.title
    - elsif competition.thumbnail_video
      = competition.thumbnail_video.gsub(/^<iframe(.*)/, '<iframe width="712" height="530"\1').html_safe

