= simple_form_for([forum, topic], html: {class: 'form-vertical'}) do |f|

  = f.input :title, input_html: {class: 'input-xxlarge'}

  - if f.object.new_record?
    = f.simple_fields_for :posts do |p|
      = render 'posts/form', f: p

  = f.button :button, t('save'), id: 'submit_topic'
  = link_to t('cancel'), :back, class: 'btn'
