.forum-menu
  %table.table
    %tr
      %td
        = will_paginate posts
      %td
        - if user_signed_in?
          - unless topic.closed?
            %a.btn.do_answer{href: '#forum_fast'}
              %i.icon-pencil
              = t('posts.answer')

          - unless topic.closed?
            - if topic.subscribe?(current_user)
              %a.topic-unsubscribe.btn{href: unsubscribe_forum_topic_url(forum, topic), data: {method: :delete}}
                %i.icon-off
                = t('topics.unsubscribe')
            - else
              %a.topic-subscribe.btn{href: subscribe_forum_topic_url(forum, topic), data: {method: :post}}
                %i.icon-ok
                = t('topics.feed')

          - if can? :manage, topic
            .btn-group
              %a.btn.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
                %i.icon-edit
                = t('edit')
                %span.caret
              %ul.dropdown-menu
                %li
                  - if can? :edit, topic
                    %a{href: edit_forum_topic_url(forum, topic)}
                      %i.icon-edit
                      = t('edit')
                %li
                  - if topic.closed? && can?(:open, topic)
                    %a{href: open_forum_topic_url(forum, topic), data: {method: :put}}
                      %i.icon-folder-open
                      = t('topics.open')
                  - if !topic.closed? && can?(:close, topic)
                    %a{href: close_forum_topic_path(forum, topic), data: {method: :put, confirm: t(:are_you_sure)}}
                      %i.icon-folder-close
                      = t('topics.close')
                %li
                  - if !topic.pinned? && can?(:pin, topic)
                    %a{href: pin_forum_topic_url(forum, topic), data: {method: :put}}
                      %i.icon-map-marker
                      = t('topics.pin')

                  - if topic.pinned? && can?(:pin, topic)
                    %a{href: unpin_forum_topic_url(forum, topic), data: {method: :put}}
                      %i.icon-remove-sign
                      = t('topics.unpin')
                %li.divider
                %li
                  - if can? :destroy, topic
                    %a{href: forum_topic_url(forum, topic), data: {method: :delete, confirm: t(:are_you_sure)}}
                      %i.icon-remove
                      = t('topics.delete')

          %a.btn{href: new_forum_topic_url(forum)}
            %i.icon-file
            = t('topics.start')
        - else
          %p
            = t('topics.to_answer_you_should')
            %a{:href => new_user_session_path, :rel => :backbone}
              = t('users.sign_in')
            = t(:or)
            %a{:href => new_user_registration_path}
              = t('users.to_sign_up')
