%tr
  %td.icon{:width => 30}
    - if topic.pinned?
      .icon-theme.pinned
    - elsif topic.closed?
      .icon-theme.closed
    - else
      .icon-theme
  %td.theme-title{:width => 469}
    %h3.theme-title
      %a{:href => forum_topic_url(forum, topic)}
        = topic.title
    .author
      #{t('activerecord.attributes.post.user')}:
      %a{:href => user_url(topic.user_id)}
        = topic.user_name
      .topic-pages= posts_paginate(topic, forum)
  %td{:width => 109}= topic.posts_count - 1
  %td{:width => 109}= topic.hits
  %td.leave{:width => 170}
    - latest_post = topic.last_post
    - if latest_post.present?
      %p.created
        %a.last_post{:href => "#{forum_topic_url(forum, topic, page: topic.last_page(forum.posts_per_page))}#post-#{latest_post.id}", :title => t('posts.go_to_last')}
          = l(topic.last_post.created_at, format: :full)
      %p.leave
        = t('posts.from')
        %a{:href => user_url(latest_post.user_id)}
          = latest_post.user_name
