- breadcrumb :topic, @forum, @topic

- menu = render 'menu', topic: @topic, forum: @forum, posts: @posts

.forum
  = menu

  %table.table.table-condensed.topics
    %thead
      %tr
        %th.gradient{colspan: 3}
          %a{:href => forum_topic_path(@forum, @topic)}
            = @topic.title
    %tbody
      = render partial: 'posts/post', collection: @posts

  = menu

  - if can?(:create, @post)
    #forum_fast
      = simple_form_for([@forum, @topic, @post], :html => {:class => 'form-vertical'}) do |f|
        = render 'posts/form', :f => f, :forum => @forum, :topic => @topic
        = f.button :button, t('posts.answer'), :id => 'submit_post', :class => 'btn-uba pull-left'

  - if @topic.closed?
    .well.topic_closed
      = t('topics.was_closed', closed_at: l(@topic.updated_at, format: :full), closed_by: @topic.closer_name)


- content_for :rss_head do
  = auto_discovery_link_tag(:rss, forum_topic_url(@forum, @topic, :format => :rss))

