- count_photos = photo.photoable_photos.size
.photo-item{:id => "pic_#{photo.id}"}
  .wrapper-image= image_tag photo.photo.url(:thumb), :size =>  photo.photo.image_size(:thumb), :alt => photo.description
  .textarea-wrapper
    %li.text.input.optional{:id => "photo_album_photos_attributes_#{count_photos}_description_input"}
      = text_area_tag "photo_album[photos_attributes][#{count_photos}][description]", photo.description, :rows => 6
  %li.boolean.input.optional{:id => "photo_album_photos_attributes_#{count_photos}_destroy_input"}
    = hidden_field_tag "photo_album[photos_attributes][#{count_photos}][_destroy]", 0
    %label{:for => "photo_album_photos_attributes_#{count_photos}__destroy"}
      = check_box_tag "photo_album[photos_attributes][#{count_photos}][_destroy]"
      = t('photos.delete')
  %li.boolean.input.optional{:id => "photo_album_photos_attributes_#{count_photos}_in_top_input"}
    = hidden_field_tag "photo_album[photos_attributes][#{count_photos}][in_top]", 0
    %label{:for => "photo_album_photos_attributes_#{count_photos}_in_top"}
      = check_box_tag "photo_album[photos_attributes][#{count_photos}][in_top]", 1, false, :class => 'in_top', :data => { :id => photo.id }
      = t('activerecord.attributes.photo.in_top')
  %li.boolean.input.optional{:id => "photo_album_photos_attributes_#{count_photos}_top_at_once_input"}
    = hidden_field_tag "photo_album[photos_attributes][#{count_photos}][top_at_once]", 0
    %label{:for => "photo_album_photos_attributes_#{count_photos}_top_at_once"}
      = check_box_tag "photo_album[photos_attributes][#{count_photos}][top_at_once]", 1, false, :class => 'show_top_at_once', :data => { :id => photo.id }
      = t('activerecord.attributes.photo.top_at_once')
= hidden_field_tag "photo_album[photos_attributes][#{count_photos}][id]", photo.id
