- if @photos.size > 0
  %ul#sortable-photos{:'data-rebuildurl' => rebuild_admin_photo_album_photos_path(@photo_album)}
    - @photos.each do |p|
      %li{:id => "pic_#{p.id.to_s}"}= image_tag p.photo.url(:thumb), :alt => p.description, :size => p.photo.image_size(:thumb)
- else
  %p= t('no_data_to_display')