- if archive_years.size > 0
  %ul
    - archive_years.each do |archive_year|
      - is_current_year = archive_year[:year] == (@current_year || Time.current.year)
      %li{:class => is_current_year ? 'active' : 'inactive'}
        %a{:href => news_archives_url(archive_year[:year]), :class => 'toggle', :title => is_current_year ? t(:collapse) : t(:expand)}
          #{is_current_year ? ' - ' : ' + '}
        %a{:href => news_archives_url(archive_year[:year])}
          = archive_year[:year]
        - months_nodes = archive_months_by(archive_year[:year])
        - if months_nodes.size > 0
          %ul
            - months_nodes.each do |archive_month|
              - is_current_month = archive_month[:month] == (@current_month || Time.current.month)
              %li
                %a{:href => news_archives_url(archive_year[:year], archive_month[:month].to_s.rjust(2, '0')), :class => is_current_month ? 'active' : 'inactive'}
                  = I18n.t('date.month_names')[archive_month[:month]]
                  = "(#{archive_month[:count]})"

