- breadcrumb :archive_news, {month: params[:month], year: params[:year]}

.news
  - @news.decorate.each do |news|
    .news-item.clearfix
      .cover
        = link_to news.url, :class => 'hover', :target => news.target do
          = image_tag news.photo.url(:thumb), :alt => news.title, :title => news.title, :size => news.photo.image_size(:thumb)
      .content
        %h1= link_to news.title, news.url, :target => news.target, :class => 'hover', :title => news.title
        %p= news.anonce
    .news-info.clearfix
      .grid_10.alpha
        &nbsp;
      .grid_9.omega
        .datestamp= l(news.created_at)
  = will_paginate @news

- content_for :left_side do
  .widget-block
    .header= t('news.archives')
    .content.archives
      = render_cell :news, :archive_tree, params[:year], params[:month]
