- breadcrumb :archive_news, {month: params[:month], year: params[:year], news: @news}

.news
  .news-body
    = auto_link(@news.body.html_safe, html: {target: '_blank'}, sanitize: false).html_safe

    = render 'shared/share_buttons/yandex'

    - photos = @news.photos.ordered.to_a
    - videos = @news.videos.to_a
    - if videos.size > 0 || photos.size > 0
      .media
        .wrap
          %ul.nav.nav-tabs
            %li.active
              = link_to '#photo-list', data: { toggle: 'tab' } do
                = "#{photos.size} #{t('activerecord.models.photo', count: photos.size)}"
            - if videos.size > 0
              %li
                = link_to '#video-list', data: { toggle: 'tab' } do
                  = "#{videos.size} #{t('activerecord.models.video', count: videos.size)}"

          .tab-content

            - json_photo_list = render('media/photos/list', photos: photos)
            - json_video_list = render('media/videos/list', videos: videos)
            #photo-list.tab-pane.active{data: {photos: json_photo_list}}
              = image_tag asset_path('fbloader.gif'), size: '16x11', alt: 'Loading...'

            - if videos.size > 0
              #video-list.tab-pane{data: {videos: json_video_list}}
                = image_tag asset_path('fbloader.gif'), size: '16x11', alt: 'Loading...'
    #comments-news
      .comments_header.comments-size{ style: 'display: none;' }
        = t('activerecord.models.comment.other')
        \(
        %span 0
        \)
      .need-more-minerals{ style: 'display: none;' } Показать предыдущие комментарии
      %ul#comment-list
      #comment-form-news

    #vk_comments

- content_for :left_side do
  .widget-block
    .header= t('news.archives')
    .content.archives
      = render_cell :news, :archive_tree, params[:year], params[:month]

- content_for :javascript_bottom do
  = render 'shared/vk_comments'
