- single_content_for :action do
  = t('public_activity.topic.create')
  = link_to a.trackable.title, forum_topic_path(a.trackable.forum, a.trackable), target: '_blank'
  = t('forums.on_forum')
  = link_to a.trackable.forum.title, forum_path(a.trackable.forum), target: '_blank'

= truncate_html(a.trackable.posts.first.body, length: 150).html_safe
