- if @slides.size == 1
  .slider
    - default_slide = @slides.first
    = image_tag default_slide.slide.url(:big), :size => default_slide.slide.image_size(:big), :alt => default_slide.name

- if @slides.size > 1
  #slider-carousel.carousel.slide
    .carousel-inner
      - @slides.each_with_index do |s, key|
        .item{:class => key.zero? ? 'active' : ''.freeze}
          = image_tag s.slide.url(:big), :size => s.slide.image_size(:big), :alt => s.name
    %a.carousel-control.left{:href => '#slider-carousel', :data => {:slide => 'prev'}}
      :plain
        &lsaquo;
    %a.carousel-control.right{:href => '#slider-carousel', :data => {:slide => 'next'}}
      :plain
        &rsaquo;
