- content_for :left_side do
  .widget-block
    .header.gradient= t('activerecord.models.competition.other')
    .content.competitions-archive= competitions_index

.pages-body
  = auto_link(@article.body.html_safe, :html => { target: '_blank' }, :sanitize_options => { attributes: %w( href target src style align ) })

  - if @article.show_comments?
    #comments-news
      .comments_header.comments-size{ style: 'display: none;' }
        = t('activerecord.models.comment.other')
        \(
        %span 0
        \)
      .need-more-minerals{ style: 'display: none;' } Показать предыдущие комментарии
      %ul#comment-list
      #comment-form-news

    #vk_comments

    - content_for :javascript_bottom do
      = render 'shared/vk_comments'