- if controller_name != 'sessions' && (controller_name != 'registrations' || (controller_name == 'registrations' && action_name == 'edit'))
  .auth-block
    .btn-group
      - if user_signed_in?
        = link_to t('users.logout'), destroy_user_session_path, :method => :delete, :class => 'btn btn-logout'
        = link_to t('users.profile'), profile_path, :class => 'btn btn-profile'
      - else
        = link_to t('users.sign_in'), new_user_session_path, :rel => "backbone", :class => 'btn btn-login'
        = link_to t('users.sign_up'), new_user_registration_path, :class => 'btn btn-register'
- else
  :plain
    &nbsp;
