- breadcrumb :user, @user

.user-info
  %h3= @user.name

  .grid_5.alpha
    = image_tag @user.profile.avatar.url(:medium), :class => 'img-polaroid', :size => @user.profile.avatar.image_size(:medium)

    .user_profile_menu
      - if user_signed_in?
        %p.new_message= link_to t('messages.new'), private_message_link(@user)
  .grid_9.omega
    %table.table.user_info
      %tr
        %th= t('activerecord.attributes.user.status')
        %td
          - if @user.online?
            %span.label.label-success= t('users.online')
          - else
            %span.label= t('users.offline')
      %tr
        %th= t('activerecord.attributes.user.created_at')
        %td= l(@user.created_at)
      - if @user.profile.show_email?
        %tr
          %th= t('activerecord.attributes.user.email')
          %td= mail_to @user.email
      - if @user.gender.to_s != ''
        %tr
          %th= t('activerecord.attributes.profile.gender')
          %td= @user.gender
      - if @user.birthday
        %tr
          %th= t('activerecord.attributes.profile.birthday')
          %td= l(@user.birthday)
      - unless @user.bio.to_s == ''
        %tr
          %th= t('activerecord.attributes.profile.bio')
          %td= @user.bio
      - unless @user.forum_sign.to_s == ''
        %tr
          %th= t('activerecord.attributes.profile.forum_sign')
          %td= @user.forum_sign
