- content_for :page_title do
  = t('users.change_password')

.login-form
  = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => 'form-vertical', :autocomplete => 'off' } ) do |f|
    = devise_error_messages!
    = f.input :reset_password_token, :as => :hidden

    = f.input :password

    = f.input :password_confirmation

    .login-actions
      = f.submit t('users.change_password'), :class => 'btn'
      = link_to t('users.sign_in'), new_session_path(resource_name), :class => 'user_registration'
      - if devise_mapping.registerable?
        = link_to t('users.sign_up'), new_registration_path(resource_name), :class => 'user_forgot_password'
