- breadcrumb :forgot_password

#new-password
  .login-form
    = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => 'form-vertical', :autocomplete => 'off' }) do |f|

      = devise_error_messages!

      = f.input :email

      .login-actions
        = f.submit t('users.reset_password'), :class => 'btn', :id => 'reset_password'
