<a class="reply_image" href="/users/id-<%= author.id %>">
    <img src="<%= author.avatar %>" width="<%= author.avatar_width %>" height="<%= author.avatar_height %>" alt="<%= author.name %>" />
</a>
<div class="reply_info">
    <div class="reply_text">
        <a href="/users/id-<%= author.id %>" class="author">
            <%= author.name %>
        </a>
        <div>
            <%= body %>
        </div>
    </div>
    <div class="reply_footer">
        <abbr title="<%= created_at %>" class="timeago"><%= created_at %></abbr>
        <% if(window.currentUser && window.currentUser.id === author.id) { %>
            | <a href="#" class="destroy">Удалить</a>
        <% } %>
    </div>
</div>