- single_content_for :action do
  - topic_link = forum_topic_url(a.trackable.topic.forum, a.trackable.topic)

  = t('public_activity.post.update')
  = link_to t('activerecord.models.post.one'), "#{topic_link}#post-#{a.trackable.id}", target: '_blank'
  = t('topics.in_topic')
  = link_to a.trackable.topic.title, topic_link, target: '_blank'

= truncate_html(a.trackable.body, length: 150).html_safe
