%script{:src => "//vk.com/js/api/openapi.js?92"}
:javascript
  $(document).ready(function(){
    VK.init({apiId: 3189523, onlyWidgets: true});
    VK.Widgets.Comments("vk_comments", {limit: 10, width: "712", attach: "photo,video,audio,link"});
  });