- if user_signed_in?
  = render 'comments/form', comment: @comment
- else
  %p
    = t('comments.to_answer_you_should')
    %a{:href => new_user_session_path, :rel => :backbone}
      = t('users.sign_in')
    = t(:or)
    %a{:href => new_user_registration_path}
      = t('users.to_sign_up')
