.widget-block
  .header.gradient= link_to t('activerecord.models.forum.one'), forums_url
  .content.forum-widget
    - topics.each do |t|
      .latest-topic
        %p
          = link_to t.title, "#{forum_topic_url(t.forum, t)}?page=#{t.last_page(t.forum_posts_per_page)}", class: 'topic'
          - if t.posts_count > 1
            = "(#{t.posts_count - 1})"
        %p.datestamp
          = timeago_tag(t.last_post.created_at)
        %p= link_to t.last_post.user_name, user_path(t.last_post.user), class: 'author'
