- breadcrumb :root

- if @page.present?
  %p
    = @page.body.html_safe

- presenter 'news', 'latest'

- content_for :bottom do
  .grid_12.alpha
    - presenter 'weather', 'show'
  .grid_12.omega= render_cell :calendar, :show

- content_for :right_side do
  - presenter 'forum', 'latest_topics', settings_value(ForumPresenter::COUNT_TOPICS_KEY).to_i

- content_for :top do
  = render_cell :slider, :show

-# Left sidebar
- content_for :left_side do
  - presenter 'twitter', 'show'
