- breadcrumb :pages, @page

-# Глушим контент страницы
- content_for :page_content do
  = ''

.pages-body
  = auto_link(@page.body.html_safe, html: {target: '_blank'}, sanitize: false).html_safe

  = render 'shared/share_buttons/yandex'

  - if @page.show_comments? && !@page.link?
    #comments-news
      .comments_header.comments-size{style: 'display: none;'}
        != "#{t('activerecord.models.comment.other')} (#{content_tag(:span, 0)})"
      .need-more-minerals{style: 'display: none;'} Показать предыдущие комментарии
      %ul#comment-list
      #comment-form-news

    - if Rails.env.production?
      #vk_comments

      - content_for :javascript_bottom do
        = render 'shared/vk_comments'

- content_for :left_side do
  .widget-block
    .header.gradient= @page.root.title
    .content.competitions-archive.page-list
      -# Содержание если есть дочерние страницы
      = render_tree @page.root.descendants.arrange do |node, child|
        - li_class = 'inactive'

        - if @page == node || @page.is_descendant_of?(node)
          - li_class = 'active'

        - if node.leaf? && node.depth < 2
          - li_class << ' alone'

        %li{class: li_class}
          - if node.depth < 2 && !node.leaf?
            = link_to ' + ', '#', :class => 'toggle'
          = link_to node.title, node.nested_path

          = child
