<tr class="odd admin" id="admin_<%= admin_user.id %>">
  <td class="">
    <strong><%= admin_user.email %></strong>
    <div class="form">
      <br/>
      <%= semantic_form_for admin_user,
                            :method => :put,
                            :url    => "/admin/admin_users/#{admin_user.id}" do |f| %>
        <%= f.inputs do %>
          <%= f.input :password, :as => :password, :required => true %>
          <%= f.input :password_confirmation, :as => :password, :required => true %>
        <% end %>
      <% end %>
    </div>
  </td>
  <td>
    <span class="admin_actions">
      <a href="#" class="member_link credentials_link"
                  data-id="#admin_<%= admin_user.id %>">
        <%= t("activeadmin_settings.credentials") %>
      </a>
      <a href="/admin/admin_users/<%= admin_user.id %>"
         class="member_link delete_link"
         data-method="delete"
         data-confirm="<%= t(:are_you_sure) %>"
         data-id="#admin_<%= admin_user.id %>">
        <%= t('activeadmin_settings.destroy') %>
      </a>
    </span>

    <span class="form_actions">
      <a href="#" class="member_link update_link"
                  data-id="#admin_<%= admin_user.id %>">
        <%= t('activeadmin_settings.update') %>
      </a>
      <a href="#" class="member_link cancel_link"
                  data-id="#admin_<%= admin_user.id %>">
        <%= t(:cancel) %>
      </a>
    </span>
  </td>
</tr>