%tr
  %td= calendar.title
  %td= "#{l(calendar.start_at, :format => :day_month)} - #{l(calendar.finish_at, :format => :nums)}"
  %td= auto_link(calendar.place, :html => { target: '_blank' })
  %td= auto_link(calendar.organizations, :html => { target: '_blank' })
  %td= calendar.disciplines
  %td.due_days= calendar.decorate.due_days.html_safe