%tr
  %th.gradient{:width => 230}= t('activerecord.attributes.calendar.title')
  %th.gradient{:width => 80}= t('activerecord.attributes.calendar.date')
  %th.gradient{:width => 180}= t('activerecord.attributes.calendar.place')
  %th.gradient{:width => 295}= t('activerecord.attributes.calendar.organizations')
  %th.gradient{:width => 155}= t('activerecord.attributes.calendar.disciplines')
  %th.gradient{:width => 85}= t('activerecord.attributes.calendar.due_days')