.competitions-calendar
  %h1= t('activerecord.models.calendar')

  %ul.archives
    - current_year = params[:year].present? ? params[:year].to_i : Time.now.year
    - @archive_years.each do |year|
      %li{:class => year == current_year && 'current'}
        %a{:href => calendar_path(year), :rel => :backbone}
          = year

  - if @lives.size > 0
    %table.table.calendars.table-striped
      %thead= render 'header'
      %tbody= render @lives

  - if @archives.size > 0
    - if params[:year].nil? || (params[:year].present? && params[:year] != Time.now.year)
      %h1= t('calendars.archives')

    %table.table.calendars.table-striped
      %thead= render 'header'
      %tbody= render @archives

