- title     = node.name
- handle    = content_tag :i, '', :class => :handle
- link      = link_to(title, edit_admin_slider_path(node), :title => title)
- controls  = render(:partial  =>  "#{opts[:path]}/controls", :locals  =>  {:node => node, :opts => opts})
- controls  = content_tag(:b, controls, :class => :controls)
- element   = handle + controls + link
%div{:class => "link#{' root' if root}"}= element
