%li{:id => "#{node.send(opts[:id])}_#{opts[:klass]}" }
  = raw render("#{opts[:path]}/link", :opts => opts, :root => root, :node => node)
  = render "#{opts[:path]}/children", :opts => opts, :parent => node, :children => children unless children.blank?
