- now = Time.current
.widget-block
  .header.gradient
    = link_to t('competitions.calendar'), competitions_path, :rel => "backbone", :title => t('competitions.calendar')
  .content.games
    - if @games.size > 0
      %table.table
        %tbody
          - @games.each do |g|
            %tr
              %td= g.name
              %td{:width => 70}
                - start_date = g.start_competition
                - end_date = g.end_competition
                - diff = (start_date - now).to_i.abs/60/60
                - if diff > 24
                  - diff /= 24
                - else
                  - diff = 1
                - if now < start_date
                  = "#{diff} #{t('time.day', :count => diff)}"
                - elsif now >= start_date && now <= end_date
                  .current= t('competitions.now')
                - else
                  = t('competitions.ended')
