%html
  %body
    - if @post_attachment.errors.any?
      :javascript
        window.parent.$("#post_body").closeModal().updateUI();
        alert("Файл имеет не верный формат. Попробуйте загрузить другое изображение");
    - else
      :javascript
        window.parent.$("#post_body").focus();
        window.parent.$("#post_body").insertAtCursor("<a href=\"#{@post_attachment.file.url}\" target=\"_blank\" style=\"margin:5px;\"><img src=\"#{@post_attachment.file.url(:thumb)}\" width=\"#{@post_attachment.file.width(:thumb)}\" height=\"#{@post_attachment.file.height(:thumb)}\" /></a>").closeModal().updateUI();