#new-session
  .login-form
    = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-vertical' }) do |f|
      = f.input :email

      = f.input :password

      - if devise_mapping.rememberable?
        = f.input :remember_me, label: false do
          %label.checkbox
            = f.check_box :remember_me
            = t('users.remember_me')
      .login-actions
        = f.submit t('users.sign_in'), :class => 'btn'
        - if devise_mapping.registerable?
          = link_to t('users.sign_up'), new_registration_path(resource_name), :class => 'user_registration'
        - if devise_mapping.recoverable?
          = link_to t('users.forgot_your_password'), new_password_path(resource_name), :class => 'user_forgot_password'

  .form-actions.login-actions
    %h3= t('users.enter_with_social_networks')
    .social-networks
      = link_to '', user_omniauth_authorize_path(:facebook), :class => 'btn-facebook'
      = link_to '', user_omniauth_authorize_path(:twitter, :x_auth_access_type => 'write'), :class => 'btn-twitter'
      = link_to '', user_omniauth_authorize_path(:vkontakte), :class => 'btn-vk'