.login-box
  .login-header
    %h2= t('users.enter_with_social_networks')
    .social-networks
      = link_to t(:facebook), user_omniauth_authorize_path(:facebook), :class => 'btn-facebook'
      = link_to t(:twitter), user_omniauth_authorize_path(:twitter, :x_auth_access_type => 'write'), :class => 'btn-twitter'
      = link_to t(:vk), user_omniauth_authorize_path(:vkontakte), :class => 'btn-vk'
  .login-wrapper.clearfix
    .login-content
      %h3= t('users.i_already_registered')
      = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-vertical' }) do |f|
        = f.input :email
        = f.input :password
        - if devise_mapping.rememberable?
          = f.input :remember_me, label: false do
            %label.checkbox
              = f.check_box :remember_me
              = t('users.remember_me')
        .login-actions= f.submit t('users.sign_in'), :class => 'btn'
    .login-content
      %h3= t('users.i_new_user')
      .new-user-text
        %p= t('users.new_user_text_row1')
        %p= t('users.new_user_text_row2')
        %p= t('users.new_user_text_row3')
      .login-actions= link_to t('users.sign_up'), new_user_registration_path, :class => 'btn'