<div class="preview">
    <%= embed_code.replace(/^<iframe(.*)/, "<iframe width=\"800\" height=\"600\" $1") %>
</div>
<div class="description clearfix">
    <div class="wide_column">
        <% if(description) { %>
            <div class="info">
                <%= description %>
            </div>
        <% } %>
        <div id="comments-app">
            <div class="need-more-minerals" style="display: none;">Показать предыдущие комментарии</div>
            <ul id="comments"></ul>
            <div id="comment-form"></div>
        </div>
    </div>
    <div class="narrow_column">
        <div class="info">Альбом: <%= album_name %></div>
    </div>
</div>