= semantic_form_for [:admin, @competition, @competition_article] do |f|
  = error_messages(@competition_article)
  = f.inputs t('formtastic.details') do
    = f.input :title
    = f.input :competition
    = f.input :link
    = f.input :show_comments
    = f.input :body, :as => :ckeditor, :input_html => {:ckeditor => {:toolbar => 'Admin', :width => '76%'}}

  = f.actions do
    = f.action :submit
