- content_for :javascript_bottom do
  = javascript_include_tag '//yastatic.net/share/share.js'

- buttons = 'vkontakte,facebook,twitter,odnoklassniki,moimir,gplus'

.yashare-auto-init{data: {'yashareL10n' => 'ru', 'yashareType' => 'small', 'yashareQuickServices' => buttons, 'yashareTheme' => 'counter'}}
