<table  border="0"
        cellspacing="0"
        cellpadding="0"
        id="admins"
        class="index_table index">
  <thead>
    <tr>
      <th class=""><%= t('activerecord.attributes.admin_user.email') %></th>
      <th class=""></th>
    </tr>
  </thead>
  <tbody>
    <%= render admins %>
    <%= render 'admin_form' %>
  </tbody>
</table>
