<div id="settings_tabs">
  <ul class="tabs table_tools_segmented_control">
    <% groups.each do |g| %>
      <li>
        <a class="table_tools_button" href="#<%= g[:slug] %>"><%= g[:name] %></a>
      </li>
    <% end %>
    <li><a class="table_tools_button" href="#admins"><%= t('activerecord.models.admin_user.other') %></a></li>
  </ul>

  <% groups.each do |g| %>
    <div id="<%= g[:slug] %>">
      <%= render 'settings_table', :settings => g[:settings] %>
    </div>
  <% end %>

  <div id="admins">
    <%= render 'admins_table', :admins => admins %>
  </div>
</div>