<table  border="0"
        cellspacing="0"
        cellpadding="0"
        id="settings"
        class="index_table index">
  <thead>
    <tr>
      <th class=""><%= t("activeadmin_settings.key") %></th>
      <th class=""><%= t("activeadmin_settings.value") %></th>
      <th class=""></th>
    </tr>
  </thead>
  <tbody>
    <% settings.each do |setting| %>
    <tr class="odd option-type-<%= setting.type %>" id="setting_<%= setting.id %>">
      <td>
        <strong><%= setting.name %></strong></br>
        <em><%= setting.description %></em>
      </td>
      <td>
        <div class="form <%= setting.type %>">
          <%= semantic_form_for setting,
              :method => :put,
              :url    => "/admin/settings/#{setting.id}" do |f| %>
            <%= f.inputs do %>
              <% case setting.type %>
              <% when "file" %>
                <%= f.input :file, :hint => setting.value %>
                <%= f.input :remove_file, :as => :boolean %>
              <% when "text" %>
                <%= f.input :string, :as => :text %>
              <% when "html" %>
                <%= f.input :string,
                            :as => :text,
                            :input_html => { :class => "settings-redactor" } %>
              <% else %>
                <%= f.input :string, :placeholder => "#{t('activeadmin_settings.default')}: " + setting.default_value %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </td>
      <td>
        <a href="#" class="member_link update_link"
                    data-id="#setting_<%= setting.id %>">
          <%= t('activeadmin_settings.update') %>
        </a>
        <span class="saved-state"><%= t('activeadmin_settings.saved') %></span>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
