- breadcrumb :pages, @page

- content_for :left_side do
  .widget-block
    .header.gradient
      = t('photo_albums.archives')
    .content.competitions-archive.albums-archive
      - current_year = params[:year].present? ? params[:year].to_i : Time.now.year
      %ul
        - PhotoAlbum.years.each do |year|
          %li{:class => year == current_year ? 'active' : 'inactive'}
            %a.toggle{:href => '#', :title => year == current_year ? t(:collapse) : t(:expand)}
              = year == current_year ? ' - ' : ' + '
            %a{:href => media_albums_path(year)}
              = year

            %ul
              - PhotoAlbum.by_year(year).each do |album|
                %li.inactive
                  %a{:href => media_album_path(year, album)}
                    = album.name

-# Основной контент
.photoalbums
  - cache(@photo_albums, expires_in: 30.minutes) do
    - @photo_albums.each do |a|
      - if a.photos.size > 0 || a.videos.size > 0
        .album-item
          %h1
            %a{:href => media_album_path(a.created_at.year, a)}
              = a.name

          .content
            = auto_link(a.description.html_safe, html: {target: '_blank'}, sanitize: false).html_safe
          .cover
            - case a.coverable
            - when Photo
              %a{:href => media_album_path(a.created_at.year, a)}
                = image_tag a.coverable.photo.url(:big), :alt => a.name, :size => a.coverable.photo.image_size(:big)
            - when Video
              = a.coverable.embed_code.gsub(/^<iframe(.*)/, '<iframe width="712" height="530"\1').html_safe
            - else
              - if a.cover.exists?
                %a{:href => media_album_path(a.created_at.year, a)}
                  = image_tag a.cover.url(:big), :alt => a.name, :size => a.cover.image_size(:big)

          .album-info.clearfix
            .grid_10.alpha
              - if a.photos.size > 0
                = "#{a.photos.size} #{t('activerecord.models.photo', :count => a.photos.size)}"
              - if a.videos.size > 0
                = " | #{a.videos.size} #{t('activerecord.models.video', :count => a.videos.size)}"
            .grid_9.omega
              .datestamp= l(a.created_at)
    = will_paginate(@photo_albums) if @photo_albums.present?
