- breadcrumb :photo_album, @page, @photo_album
- photos = @photo_album.photos.order("#{@photo_album.sort} #{@photo_album.order}, id desc").to_a
- videos = @photo_album.videos.to_a
- json_photo_list = render('media/photos/list', photos: photos)
- json_video_list = render('media/videos/list', videos: videos)
- photos_size = photos.size
- videos_size = videos.size

- content_for :left_side do
  .widget-block
    .header= t('photo_albums.archives')
    .content.competitions-archive.albums-archive
      - current_year = params[:year].present? ? params[:year].to_i : Time.now.year
      %ul
        - PhotoAlbum.years.each do |year|
          %li{:class => year == current_year ? 'active' : 'inactive'}
            %a.toggle{:href => '#', :title => year == current_year ? t(:collapse) : t(:expand)}
              = year == current_year ? ' - ' : ' + '
            %a{:href => media_albums_path(year)}
              = year

            %ul
              - PhotoAlbum.by_year(year).each do |album|
                %li{:class => @photo_album.id == album.id ? 'active' : 'inactive'}
                  %a{:href => media_album_path(year, album)}
                    = album.name
.photoalbums
  .show_album
    %h1
      = @photo_album.name
    .media
      .wrap
        %ul.nav.nav-tabs
          %li.active
            %a{:href => '#photo-list', :data => {:toggle => :tab}}
              #{photos_size} #{t('activerecord.models.photo', count: photos_size)}

          - if videos_size > 0
            %li
              %a{:href => '#video-list', :data => {:toggle => :tab}}
                #{videos_size} #{t('activerecord.models.video', count: videos_size)}

        .tab-content
          #photo-list.tab-pane.active{data: {photos: json_photo_list}}
            %img{:src => asset_path('fbloader.gif'), :with => 16, :height => 11, :alt => 'Загрузка...'}

          - if videos_size > 0
            #video-list.tab-pane{data: {videos: json_video_list}}
              %img{:src => asset_path('fbloader.gif'), :with => 16, :height => 11, :alt => 'Загрузка...'}

    = render 'shared/share_buttons/yandex'
