= semantic_form_for [:admin, @photo_album] do |f|
  = f.inputs t('formtastic.details') do
    = f.input :name
    = f.input :cover
    = f.input :published
    = f.input :sort,
              :as => :radio,
              :collection => t('photo_albums.sort_types').invert
    = f.input :order,
              :as => :radio,
              :collection => t('photo_albums.order_types').invert
    = f.input :description, :as => :ckeditor, :input_html => {:ckeditor => {:toolbar => 'Admin', :width => '76%'}}

  - if %w(edit update).include? params[:action]
    = f.actions do
      = f.action :submit

    = f.inputs t('photos.attach'), :id => 'edit-photos' do
      %table
        %tr
          %td
            %h4= t('photos.upload')
            #file-upload{:'data-path' => attach_admin_photo_album_path(@photo_album)}
          %td{:style => "width: 80%;"}
            %h4= t('photos.edit')
            #uploaded{:data => {:rebuildurl => rebuild_admin_photo_album_photos_path(@photo_album), :topurl => topurl_admin_photo_album_photos_path(@photo_album), :intopurl => intop_admin_photo_album_photos_path(@photo_album) } }
              = f.semantic_fields_for :photos, @photo_album.photos.order("#{@photo_album.sort} #{@photo_album.order}, id desc") do |photo|
                .photo-item{:id => "pic_#{photo.object.id.to_s}"}
                  .wrapper-image= image_tag photo.object.photo.url(:thumb)
                  .textarea-wrapper= photo.input :description, :label => false, :input_html => { :rows => '6' }
                  = photo.input :_destroy, :label => t('photos.delete'), :as => :boolean
                  = photo.input :in_top, :input_html => { :class => 'in_top', :data => { :id => photo.object.id } }
                  = photo.input :top_at_once, :input_html => { :class => 'show_top_at_once', :data => { :id => photo.object.id } }
    = f.actions do
      = f.action :submit

    = f.inputs t('videos.attach') do
      = link_to t('videos.add'), '#', :id => "add-video"
      = f.semantic_fields_for :videos do |video|
        - hint = "#{video.object.persisted? ? video.object.title : nil}<br />#{link_to(t('photos.delete'), '#', class: 'js-delete-video')}"
        = video.input :link, hint: hint.html_safe
        = video.input :_destroy, as: :hidden


  = f.actions do
    = f.action :submit


