%h3= "#{t('photo_albums.change_cover')}:"

- if @photos.size > 0
  %h4= "#{t('activerecord.models.photo.other')}:"
  .album_covers
    - @photos.each do |p|
      .photo
        = link_to '#', :class => "change_cover #{p.cover? ? 'active' : ''.freeze}", :"data-type" => "Photo", :"data-id" => p.id  do
          = image_tag p.photo.url(:thumb), :alt => p.description


- if @videos.size > 0
  %h4= "#{t('activerecord.models.video.other')}:"
  .album_covers
    - @videos.each do |v|
      .photo
        = link_to '#', :class => "change_cover #{v.cover? ? 'active' : ''.freeze}", :"data-type" => "Video", :"data-id" => v.id  do
          = image_tag v.thumbnail.url(:thumb), :alt => v.title


:javascript
  (function(){
    jQuery(function($){
      $(".change_cover").on("click", function(event){
        event.preventDefault();
        $(".change_cover").removeClass("active");
        $(this).addClass("active");
        var cover_type = $(this).data("type");
        var cover_id = $(this).data("id");

        $.ajax({
          type: "POST",
          url: "#{dochangecover_admin_photo_album_path(params[:id])}",
          data: { cover_type: cover_type, cover_id: cover_id }
        });
      });
    });
  }).call(this);
