= f.input :body,
          as: :ckeditor,
          input_html: {ckeditor: {toolbar: 'Easy'},
                       id: 'post_body',
                       class: 'input-xxlarge',
                       rows: 8},
          :label => false
