%tr
  %td.user-name
    %a.user-name{:href => user_url(post.user_id)}
      - if post.user.show_online?
        - user_status = post.user.online? ? 'online' : 'offline'
        = image_tag asset_path("#{user_status}.png"), size: '16x16', title: t("users.#{user_status}")
      = post.user_name
  %td.post-created
    #{t('activerecord.attributes.post.created_at')}: #{l(post.created_at, :format => :full)}
  %td.post_counter
    = link_to "##{post_counter + 1 + start_page(@forum.posts_per_page)}", "#post-#{post.id}", :id => "post-#{post.id}"
%tr
  %td.user-info{rowspan: 3}
    = render 'posts/user_info', user: post.user, forum: @forum, topic: @topic, post: post
%tr
  %td.post{colspan: 2}
    .post-body
      = auto_link(post.body, html: {target: '_blank'}, sanitize: false).html_safe

      - if can?(:moderate, post)
        .well.well-small{id: "complait-#{post.id}"}
          %span.label.label-info= t('posts.received_complaint')

      .well.well-small{id: "spam-#{post.id}", style: post.spam? ? '' : 'display:none;'}
        - if post.spam?
          %span.label.label-important= t('posts.marked_as_spam')

      - if post.edited?
        .well.well-small= "#{t('activerecord.attributes.post.updated_at')}: #{l(post.updated_at, format: :full)}"
%tr
  %td.forum-sign= post.user.forum_sign
  %td.post-toolbar
    - if can?(:edit, post)
      = link_to t('posts.edit'), edit_forum_topic_post_url(@forum, @topic, post), class: 'tools'

    - if can?(:destroy, post)
      = link_to t('posts.delete'), forum_topic_post_url(@forum, @topic, post), method: :delete, class: 'tools delete-post', confirm: t(:are_you_sure)

    - if can?(:answer, post)
      = link_to t('posts.cite'), cite_forum_topic_post_url(@forum, @topic, post), :remote => true, :method => :post, :class => 'tools cite-post'
    - if can?(:cite, post)
      = link_to t('posts.answer'), answer_forum_topic_post_url(@forum, @topic, post), :remote => true, :method => :post, :class => 'tools answer-post'

    - if can?(:spam, post)
      = link_to t('posts.spam'), spam_forum_topic_post_url(@forum, @topic, post), remote: true, method: :put, class: 'tools', id: "spam-link-#{post.id}"
    - if can?(:approve, post)
      = link_to t('posts.approve'), approve_forum_topic_post_url(@forum, @topic, post), remote: true, method: :put, class: 'tools', id: "approve-link-#{post.id}"
