= link_to user_path(user) do
  = image_tag user.avatar.url(:thumb), :size => user.avatar.image_size(:thumb), :alt => user.name
%p= "#{t('activerecord.attributes.user.posts')}: #{user.posts.size}"
%p
  - if user.role? :forum_moderator
    %strong= t('users.moderator')
%p= "#{t('activerecord.attributes.user.created_at')}: #{l(user.created_at, :format => :nums)}"
%p= "#{t('activerecord.attributes.profile.gender')}: #{user.gender}" unless user.gender.to_s == ''
%p= link_to t('messages.private'), private_message_link(user), style: 'color:#333;' if user_signed_in? && current_user.id != user.id

- if can?(:complaint, post)
  %p
    = link_to complaint_forum_topic_post_path(forum, topic, post), remote: true, method: :put, id: "complaint-link-#{post.id}", style: 'color:#333;' do
      = t('posts.complaint')