(function() {
  var
   $forumFast = $("#forum_fast"),
   ckePostBody,
   $citeWrap;

  if ($forumFast.length) {
    $forumFast.show();
    $(document).scrollTop($forumFast.offset().top);
  }

  ckePostBody = CKEDITOR.instances['post_body'];
  ckePostBody.focus();

  $citeWrap = $('<div />').html($('<div class="quote" />').append(
      $('<div class="clearfix" />').append(
          $('<div class="quote-title" />').text('Цитата')
      ).append(
          $('<div class="quote-cite" />').append(
              $('<span class="quote-author" />').text("<%= j @post.user_name %>")
          ).append(
              $('<span class="datestamp" />').text(", <%= j l(@post.created_at, :format => '%d.%m.%Y, %H:%M') %>")
          )
      )
  ).append($('<div />').html("<%= strip_tags(@post.body).to_json %>")).after($('<p />')));

  ckePostBody.insertHtml($citeWrap.html(), 'unfiltered_html');
})();
