(function() {
  var
    container,
    i,
    len,
    sel,
    selected_text,
    $forumFast = $("#forum_fast"),
    ckePostBody,
    $citeWrap;

  if (typeof window.getSelection !== "undefined") {
    sel = window.getSelection();

    if (sel.rangeCount) {
      container = document.createElement("div");
      i = 0;
      len = sel.rangeCount;
      while (i < len) {
        container.appendChild(sel.getRangeAt(i).cloneContents());
        ++i;
      }

      selected_text = container.innerText;
      if (!selected_text) {
        selected_text = container.textContent;
      }
    }
  } else if (typeof document.selection !== "undefined") {
    if (document.selection.type === "Text") {
      selected_text = document.selection.createRange().text;
    }
  }

  if ($forumFast.length) {
    $forumFast.show();
    $(window).scrollTop($forumFast.offset().top);
  }

  ckePostBody = CKEDITOR.instances['post_body'];

  if (selected_text.length) {
    if (ckePostBody) {
      ckePostBody.focus();

      $citeWrap = $('<div />').html($('<div class="quote" />').append(
        $('<div class="clearfix" />')
         .append(
           $('<div class="quote-title" />').text('Цитата')
         )
         .append(
           $('<div class="quote-cite" />')
             .append(
               $('<span class="quote-author" />').text("<%= j @post.user_name %>")
             )
             .append(
               $('<span class="datestamp" />').text(", <%= j l(@post.created_at, :format => '%d.%m.%Y, %H:%M') %>")
             )
         )
        )
        .append($('<div />').text(selected_text)).after($('<p />')));

      ckePostBody.insertHtml($citeWrap.html(), 'unfiltered_html');
    }
  }
})();
