- breadcrumb :edit_post, @forum, @topic, @post

%h1= t('posts.edit_post_title')
.forum
  = simple_form_for([@forum, @topic, @post], :html => { :class => 'form-vertical'}) do |f|
    = error_messages(@post)
    = render 'form', :f => f, :forum => @forum, :topic => @topic
    = f.button :button, t('posts.edit'), :id => 'submit_post', :class => 'btn-uba'
    = link_to t('cancel'), :back, class: 'btn'
