$("#spam-link-<%= @post.id %>").hide();
$("#approve-link-<%= @post.id %>").hide();
$("#complait-<%= @post.id %>").hide();
$("#spam-<%= @post.id %>").show().html("<span class=\"label label-important\"><%= j t('posts.marked_as_spam') %></span>")