- single_content_for :action do
  = t('public_activity.comment.create')

  - commentable = a.trackable.try(:commentable)

  - if commentable.kind_of?(Page)
    = t('pages.on_page')
    = link_to commentable.title, "#{commentable.nested_path}#comments-news", target: '_blank'
  - elsif commentable.kind_of?(Photo) || commentable.kind_of?(Video)
    - on_entity = commentable.kind_of?(Photo) ? t('photos.on_photo') : t('videos.on_video')
    = commentable.description.present? ? "#{on_entity} #{commentable.description.html_safe}" : on_entity

    - photoable = commentable.try(:photoable)

    - if photoable.kind_of?(Page)
      = t('pages.on_page')
      = link_to photoable.title, photoable.nested_path, target: '_blank'
    - elsif photoable.kind_of?(PhotoAlbum)
      = t('photo_albums.on_album')
      = link_to photoable.name, media_album_path(photoable.year, photoable), target: '_blank'
    - elsif photoable.kind_of?(News)
      = t('news.on_news')
      = link_to photoable.title, photoable.decorate.url, target: '_blank'

  - elsif commentable.kind_of?(News)
    = t('news.on_news')
    = link_to commentable.title, "#{commentable.decorate.url}#comments-news", target: '_blank'

= truncate(strip_tags(a.trackable.comment), length: 150, separator: ' ').smileize.html_safe
