%ul.footer-links
  %li
    .footer-social.clearfix
      = link_to '', "#{settings_value('Facebook')}", :class => 'social-btn facebook', target: '_blank'
      = link_to '', "#{settings_value('Twitter')}", :class => 'social-btn twitter', target: '_blank'
      = link_to '', "#{settings_value('Вконтакте')}", :class => 'social-btn vkontakte', target: '_blank'
      = link_to '', "#{settings_value('Vimeo')}", :class => 'social-btn vimeo', target: '_blank'
      = link_to '', "#{settings_value('Youtube')}", :class => 'social-btn youtube', target: '_blank'
      = link_to '', news_index_url(format: :rss), :class => 'social-btn rss', target: '_blank'
  %li
    .contact-phone= phone_number(settings_value("Телефон").to_s, :delimiter => "<span> </span>", :country_code => 7)
  %li= link_to t(:road_map), roadmap_path, :rel => 'backbone', :class => 'roadmap', :title => t(:road_map)
  %li= link_to settings_value('Email'), "mailto:#{settings_value('Email')}", :class => 'contact-email'
  %li= link_to t(:old_site), settings_value("Ссылка на старый сайт"), :class => 'old-site', target: '_blank'
