.widget-block.weather
  .header.gradient
    = link_to t(:weather_station), 'https://www.windguru.cz/int/index.php?sc=416035', :target => '_blank'
  .content
    - if weather_table.present?
      = weather_table.html_safe
    - else
      Данные временно недоступны
