= "#{t('posts.received_complaint')}:"
\
\------------------------------------------------------
\
= @post.body
\
\------------------------------------------------------
\
= "#{t('posts.go_to_moderation')}: #{forum_topic_url(@post.topic.forum, @post.topic)}"
\
\======================================================
\
= "#{t(:regards)}, #{t('admin_users.site_admin')}, #{root_url}"
