!!! 5
%html{lang: I18n.locale}
  %head
    %meta{charset: 'utf-8'}
  %body
    %p= "#{t('posts.received_complaint')}:"
    %blockquote= @post.body.html_safe
    %hr
    %p= link_to t('posts.go_to_moderation'), forum_topic_url(@post.topic.forum, @post.topic)
    %hr

    %p= "#{t(:regards)},"
    %p
      = t('admin_users.site_admin')
      = link_to t(:site_title), root_url
