= t('topics.subscribtions.notification_mailer.hello', user_name: @user.name)
\======================================================
\
= t('topics.subscribtions.notification_mailer.you_are_subscribed_forum')
\
= t('topics.subscribtions.notification_mailer.user_create_new_topic', topic_author: @topic.user_name)
= "#{forum_topic_url(@topic.forum, @topic)}:"
\
\------------------------------------------------------
= "#{t(:cite)}:"
\
= @topic.posts.first.body
\
\------------------------------------------------------
\
= "#{t('topics.subscribtions.notification_mailer.cancel_subscribe_html')} #{t('topics.subscribtions.notification_mailer.by_link')} #{forum_topic_url(@topic.forum, @topic)}"
= "#{t('topics.subscribtions.notification_mailer.click_button')} #{t('topics.unsubscribe')}"
\
\======================================================
\
= "#{t(:regards)}, #{t('admin_users.site_admin')}, #{root_url}"
