!!! 5
%html{lang: I18n.locale}
  %head
    %meta{charset: 'utf-8'}
  %body
    %h2= t('topics.subscribtions.notification_mailer.hello', user_name: @user.name)
    %p
      = t('topics.subscribtions.notification_mailer.you_are_subscribed_forum')
      = link_to t(:site_title), root_url
    %hr
    %p
      = t('topics.subscribtions.notification_mailer.user_create_new_topic_html', topic_author: @topic.user_name)
      = link_to "\"#{@topic.title}\"", forum_topic_url(@topic.forum, @topic)
      \:
    %p= @topic.posts.first.body.html_safe
    %hr
    %p
      = t('topics.subscribtions.notification_mailer.cancel_subscribe_html')
      = link_to t('topics.subscribtions.notification_mailer.by_link'), forum_topic_url(@topic.forum, @topic)
      = t('topics.subscribtions.notification_mailer.click_button')
      %strong= t('topics.unsubscribe')
    %hr

    %p= "#{t(:regards)},"
    %p
      = t('admin_users.site_admin')
      = link_to t(:site_title), root_url
