!!! 5
%html{lang: I18n.locale}
  %head
    %meta{charset: 'utf-8'}
  %body
    %h2= t('topics.subscribtions.notification_mailer.hello', user_name: @user.name)
    %p
      = t('topics.subscribtions.notification_mailer.you_are_subscribed_forum')
      = link_to t(:site_title), root_url
    %hr
    %p
      = t('topics.subscribtions.notification_mailer.user_answered_in_topic_html', post_author: @post.user_name)
      = link_to @post.topic_title, "#{forum_topic_url(@post.topic.forum, @post.topic)}#post-#{@post.id}"
      \:
    %p= @post.body.html_safe
    %hr
    %p
      = t('topics.subscribtions.notification_mailer.cancel_subscribe_html')
      = link_to t('topics.subscribtions.notification_mailer.by_link'), forum_topic_url(@post.topic.forum, @post.topic)
      = t('topics.subscribtions.notification_mailer.click_button')
      %strong= t('topics.unsubscribe')
    %hr

    %p= "#{t(:regards)},"
    %p
      = t('admin_users.site_admin')
      = link_to t(:site_title), root_url
