= t('topics.subscribtions.notification_mailer.hello', user_name: @user.name)
\======================================================
\
= t('topics.subscribtions.notification_mailer.you_are_subscribed_forum')
\
\
= t('topics.subscribtions.notification_mailer.user_answered_in_topic', post_author: @post.user_name)
\
= "#{forum_topic_url(@post.topic.forum, @post.topic)}#post-#{@post.id}:"
\
\------------------------------------------------------
= "#{t(:cite)}:"
\
= @post.body
\
\------------------------------------------------------
\
= "#{t('topics.subscribtions.notification_mailer.cancel_subscribe_html')} #{t('topics.subscribtions.notification_mailer.by_link')} #{forum_topic_url(@post.topic.forum, @post.topic)}"
= "#{t('topics.subscribtions.notification_mailer.click_button')} #{t('topics.unsubscribe')}"
\
\======================================================
\
= "#{t(:regards)}, #{t('admin_users.site_admin')}, #{root_url}"
