@import "variables";

.competitions-calendar {
  padding: 20px;
  width: 1100px;
  font-size: 13px;
  line-height: 16px;

  ul.archives {
    display: table;
    margin: 0 auto;
    list-style: none;
    li {
      display: table-cell;
      list-style: none;
      padding: 10px;
      a {
        color: $textColor;
        font-size: 16px;
      }
      &.current {
        a {
          color: $mainOrangeColor;
        }
      }
    }
  }

  .current {
    color: $mainOrangeColor;
  }

  h1 {
    text-align: center;
  }
  table.calendars {
    border: none;
    margin-bottom: 20px;
    table-layout: fixed;
    width: 100%;

    &.table-striped tbody tr:nth-child(odd) td {
      background: #f8d997;
    }

    th, td {
      border: 1px solid #fff;
      padding: 0;
    }

    th {
      color: #fff;
      @include uba-main-gradient;
      text-align: center;
      vertical-align: middle;
      font-weight: normal;
      border-left: 1px solid #ca2000;
      border-right: 1px solid #ca2000;
      line-height: 24px;
      &:first-child {
        border-left: none;
      }
      &:last-child {
        border-right: none;
      }
    }
    td {
      text-align: left;
      vertical-align: middle;
      padding: 5px;
      background: #f1ecc3;
      &.due_days {
        text-align: center;
      }
    }
  }
}
