body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  line-height: 18px;
  font-size: 13px;
}
.quote {
  background: #fff;
  padding: 0;
  margin: 0 0 0 10px;
  border: none;
  color: grey;
  font-size: 12px;
}
.quote {
  padding: 5px;
}
div {
  padding: 5px;
}
.clearfix {
  display: table;
  width: 100%;
  table-layout: fixed;
  font-weight: bold;
}
.clearfix:after, .clearfix:before {
  content: '';
}
.quote-title {
  position: relative;
  display: table-cell;
  width: 50%;
  background: #f1eeeb;
  font-size: 12px;
}
.quote-cite {
  position: relative;
  display: table-cell;
  width: 50%;
  background: #f1eeeb;
  text-align: right;
  font-size: 12px;
}
