#colorbox,
#cboxOverlay,
#cboxWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
}
#cboxOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6 !important;
}
#cboxMiddleLeft,
#cboxBottomLeft {
    clear: left;
}
#cboxLoadingOverlay,
#cboxLoadingGraphic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow {
    cursor: pointer;
}
.cboxPhoto {
    float: left;
    margin: auto;
    border: 0;
    display: block;
    max-width: none;
}
.cboxIframe {
    width: 100%;
    height: 100%;
    display: block;
    border: 0;
}
#colorbox,
#cboxContent,
#cboxLoadedContent {
    box-sizing: content-box;
}
#colorbox {
    border: 1px solid #c0c0c0;
    padding-bottom: 10px;
    box-shadow: 2px 2px 12px -3px #000;
    background: #fff;
}
#cboxContent {
    margin-top: 28px;
    overflow: visible;
    position: relative;
}
.cboxIframe {
    background: transparent;
}
#cboxError {
    padding: 50px;
    border: 1px solid #ccc;
}
#cboxLoadedContent {
    background: #fff;
    overflow: auto;
}
#cboxLoadingGraphic {
    background: url(<%= asset_path('loading.gif') %>) no-repeat center center;
}
#cboxLoadingOverlay {
    background: #fff;
}
#cboxTitle {
    position: absolute;
    top: -28px;
    left: 0;
    color: #000;
    background: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    font-size: 13px;
    line-height: 16px;
    padding-bottom: 6px;
    padding-top: 6px;
    width: 100%;
    border-radius: 0;
    height: 16px;
    font-weight: bold;
    padding-left: 10px;
    margin: 0;

}
#cboxTitle span {
    padding-left: 10px;

}
#cboxCurrent {
  position: absolute;
  top: -37px;
  left: 0;
  color: #000;
  background: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  font-size: 13px;
  line-height: 16px;
  padding-bottom: 6px;
  padding-top: 6px;
  width: 100%;
  border-radius: 0;
  height: 16px;
  font-weight: bold;
  padding-left: 10px;
  margin: 0;
}
#cboxSlideshow,
#cboxPrevious,
#cboxNext,
#cboxClose {
    text-indent: -9999px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -31px;
    background: url(<%= asset_path('controls.png') %>) no-repeat 0 0;
}
#cboxPrevious {
    background-position: 0px 0px;
    right: 44px;
    display: none !important;
}
#cboxPrevious:hover {
    background-position: 0px -25px;

}
#cboxNext {
  background-position: -25px 0px;
  right: 22px;
  display: none !important;
}
#cboxNext:hover {
    background-position: -25px -25px;
}
#cboxClose {
    background-position: -50px 0px;
    right: 6px;
    margin-top: 6px;
}
#cboxClose:hover {
    background-position: -50px -25px;
}
.cboxSlideshow_on #cboxPrevious,
.cboxSlideshow_off #cboxPrevious {
    right: 66px;

}
.cboxSlideshow_on #cboxSlideshow {
    background-position: -75px -25px;
    right: 44px;
}
.cboxSlideshow_on #cboxSlideshow:hover {
    background-position: -100px -25px;
}
.cboxSlideshow_off #cboxSlideshow {
    background-position: -100px 0px;
    right: 44px;
}
.cboxSlideshow_off #cboxSlideshow:hover {
    background-position: -75px -25px;
}
