@import "variables";

#comments-app, #comments-news {

  position: relative;

  .current_user_avatar {
    position: absolute;
    top: 8px;
    left: 0;
  }

  .comments_header {
    background: #DAE2E8;
    padding: 6px 8px;
    color: #45688E;
  }

  .comments-size {
    display: none;
  }

  .form-comment {
    padding: 8px;
    clear: both;
    position: relative;
    height: 110px;
    background: #F7F7F7;
    textarea {
      display: block;
      float: right;
      width: 390px;
      height: 72px;
      border: 1px solid #C0CAD5;
      border-radius: 0;
    }

    .btn {
      position: absolute;
      top: 99px;
      left: 60px;
      border-radius: 2px;
      border: 1px solid;
      font-size: 11px;
      margin: 0px;
      cursor: pointer;
      white-space: nowrap;
      outline: none;
      padding: 4px 14px;
      vertical-align: top;
      overflow: visible;
      line-height: 13px;
      border-top-color: #789ABF;
      border-bottom-color: #5980A9;
      border-left-color: #5980A9;
      border-right-color: #5980A9;
      color: #FFF;
      text-shadow: 0 1px 0 #45688E;
      background: url(<%= asset_path('button_vk.png') %>) #6181a6 repeat-x top;
      background-position: 0px -16px;
      &:hover {
        background-position: 0px -8px;
      }
    }

    .publish_to_social {
      position: absolute;
      width: 150px;
      padding-left: 20px;
      background: url(<%= asset_path('fb_comm.png') %>) no-repeat left center #fff;
      color: grey;
      font-size: 10px;
      line-height: 16px;
      top: 103px;
      left: 160px;
    }
  }

  font-size: 13px;
  line-height: 16px;

  ul, ul li {
    list-style: none;
    margin: 0;
  }

  ul {
    display: block;
    margin-top: 0;
    li {
      display: block;
      padding-bottom: 10px;
      position: relative;
      border-top:  1px solid #E9EDF1;
      &:first-child {
        border: none;
      }
      a.reply_image {
        margin: 8px 0 2px;
        position: absolute;
        width: 50px;
        height: 50px;
        overflow: hidden;
        top:  0;
      }
      .reply_info {
        margin-left: 60px;
        .reply_footer {
          abbr {
            color:  grey;
            font-size: 12px;
            line-height: 14px;
          }
        }
      }

    }
  }

  .need-more-minerals {
    text-align: center;
    cursor: pointer;
    line-height: 35px;
    color: $linkColor;
    &:hover {
      background: #E9EDF1;
    }
  }

}

#comments-news {
  textarea {
    width: 630px !important;
    height: 72px;
    float: right;
  }
  clear: both;
}
