@import "variables";

.competitions {
  .item {
    h1 {
      a {
        color: $textColor;
      }
      margin-bottom: 20px;
    }
    font-size: 14px;
    line-height: 18px;

    p {
      margin-bottom: 16px;
      text-align: justify;
    }
    .content, .cover {
      margin-bottom: 20px;
    }
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
    &:last-child {
      border: none;
    }
  }
}