@import "variables";

.discussions {
  .item {
    border-bottom: 1px solid $mainShadowColor;
    width: 522px;
    table {
      width: 100%;
      td {
        padding: 10px;
        &:first-child {
          width: 100px;
        }
        &:last-child {
          width: 53%;
        }
        p {
          margin: 0;
        }
        .datestamp {
          font-size: 10px;
        }
      }
    }
  }
}