@import "variables";


.navigation {

  width: 940px;
  margin: 0 auto;
  padding: 0;
  @include uba-main-gradient;
  @include uba-block-shadow($mainShadowColor);
  @include uba-min-height(36px);

  ul.dropdown,
  ul.dropdown li,
  ul.dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul.dropdown {
    display: table;
    table-layout: fixed;
    position: relative;
    z-index: 597;
    width: 100%;
  }

  ul.dropdown > li {
    display: table-cell;
    text-align: center;
    border-left: 1px solid #ca2000;
    &:first-child {
      border: none;
    }
    a {
      display: block;
      color: #fff;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
      padding-top: 8px;
      padding-bottom: 8px;
      font-size: 13px;
      line-height: 20px;
      background: transparent;
      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
    &.active {
      @include uba-darken-gradient;
    }

    span {
      display: none;
    }
  }

  ul.dropdown li {
    vertical-align: middle;
    zoom: 1;
  }

  ul.dropdown li.hover,
  ul.dropdown li:hover {
    position: relative;
    z-index: 599;
    cursor: default;
  }

  ul.dropdown ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 598;
    width: 208px;
    background-color: #333;
  }

  ul.dropdown ul li {
    display: block;
    text-align: left;
    &:hover {
      background: #191919;
    }
    a {
      color: #fff;
      font-size: 11px;
      padding-left: 10px;
      padding-right: 10px;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  ul.dropdown ul ul {
    top: 1px;
    left: 100%;
  }

  ul.dropdown > li > span > ul li:hover > ul,
  ul.dropdown > li:hover > span > ul {
    display: block;
  }

  ul.dropdown > li:hover > span {
    position: relative;
    display: block;
  }

  ul.dropdown > li li:hover > a {
    text-decoration: underline;
  }
}