
@import "variables";

ul.footer-links {
  display: table;
  width: 100%;
  table-layout: fixed;
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: table-cell;
    height: 24px;
    list-style: none;
    vertical-align: middle;
    text-align: right;
    font-size: 13px;

    .footer-social {
      width: 180px;
      height: 24px;
      .social-btn {
        display: block;
        width: 24px;
        height: 24px;
        float: left;
        background: url(<%= asset_path('icons_footer.png') %>) no-repeat transparent;
        margin-right: 6px;
        &.facebook {
          background-position: -3px -216px;
        }
        &.vkontakte {
          background-position: -3px 0;
        }
        &.twitter {
          background-position: -3px -168px;
        }
        &.vimeo {
          background-position: -3px -192px;
        }
        &.youtube {
          background-position: -3px -144px;
        }
        &.rss {
          background-position: -3px -120px;
        }
      }
    }

    .contact-phone, .roadmap, .contact-email, .old-site {
      display: inline-block;
      height: 24px;
      line-height: 24px;
      padding-left: 32px;
      overflow: hidden;
      color: $textColor;
      &:hover {
        color: $textColor;
        text-decoration: underline;
      }
      background: url(<%= asset_path('icons_footer.png') %>) no-repeat transparent;
    }



    .roadmap {
      background-position: 0 -72px;
      margin-left: auto;
      margin-right: 4px;
    }

    .contact-phone {
      background-position: 0 -96px;
      margin-left: auto;
      margin-right: 1px;
      &:hover {
        text-decoration: none;
      }
    }

    .contact-email {
      background-position: 0 -48px;
      padding-left: 34px;
      margin-right: -12px;
    }
    .old-site {
      background-position: 0 -24px;
      padding-left: 34px;
    }
  }
}
