@import "variables";

.dropdown-menu > li > a {
  text-align: left;
}

.forum {
  .tools {
    display: inline-block;
    @include uba-main-gradient;
    color: #fff;
    text-decoration: none;
    padding: 3px;
    line-height: 13px;
    margin-left: 5px;
  }

  .forum-menu {
    margin-bottom: 10px;
    table {
      margin-bottom: 0;
      border: none;
      td {
        vertical-align: middle;
        border: none;
        padding: 0;
        background: none;
        &:last-child {
          text-align: right;
        }

        .pagination {
          margin: 0;
          text-align: left;
          float: left;
          margin-left: 10px;
        }
        .pagination-label {
          float: left;
        }
      }
    }
  }

  table {
    margin: 0;

    &.table-striped tbody tr:nth-child(odd) td {
      background: #dad2c7;
    }
    &.forums-show {
      margin-bottom: 10px;
    }

    th, td {
      border: 1px solid #fff;
      padding: 0;
    }
    th {
      @include uba-main-gradient;
      font-size: 12px;
      line-height: 24px;
      font-weight: normal;
      color: #fff;
      text-align: center;
      border-left: 1px solid #ca2000;
      border-right: 1px solid #ca2000;
      a {
        color: #fff;
        font-size: 14px;
        padding-left: 5px;
      }
      &.title {
        text-align: left;
      }
      &:first-child {
        border-left: none;
      }
      &:last-child {
        border-right: none;
      }
    }

    td {
      text-align: center;
      background: #f1eeeb;
      vertical-align: top;
      padding-top: 3px;
      padding-bottom: 3px;
      &.icon {
        border-left: none;
        .icon-theme {
          width: 12px;
          height: 12px;
          margin-left: 7px;
          margin-right: 7px;
          background: url(<%= asset_path('icons_forum.png') %>) no-repeat transparent;
          background-position: 0 -24px;
          &.closed {
            background-position: 0 0;
          }
          &.pinned {
            background-position: 0 -12px;
          }
        }
      }
      &.theme-title {
        text-align: left;
        padding: 3px;
        h3 {
          margin: 0;
          a {
            color: $textColor;
            font-size: 14px;
          }
        }
        .author {
          font-size: 12px;
          a {
            color: $mainOrangeColor;
          }
          .topic-pages {
            display: inline;
            a {
              color: $textColor;
            }
          }
        }
      }
      &.leave {
        text-align: left;
        font-size: 12px;
        padding-left: 5px;
        .last_post {
          display: inline-block;
          padding-left: 16px;
          color: $textColor;
          height: 12px;
          line-height: 12px;
          background: url(<%= asset_path('icons_forum.png') %>) 0 -36px no-repeat transparent;
          &:hover {
            text-decoration: none;
          }
        }
        .leave {
          a {
            color: $mainOrangeColor;
          }
        }
      }
      p {
        margin: 0;
      }
    }
  }
}
