@import "variables";

// Twitter Bootstrap

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

@import "bootstrap/reset";

// Grid system and page structure
@import "bootstrap/scaffolding";
@import "bootstrap/grid";
@import "bootstrap/layouts";

// Base CSS
@import "bootstrap/type";
@import "bootstrap/forms";
@import "bootstrap/tables";

// Components: common
@import "bootstrap/sprites";
@import "bootstrap/wells";
@import "bootstrap/dropdowns";
@import "bootstrap/component-animations";

// Components: Buttons & Alerts
@import "bootstrap/buttons";
@import "bootstrap/button-groups";
@import "bootstrap/alerts";

// Components: Nav
@import "bootstrap/navs";

@import "bootstrap/popovers";

// Components: Misc
@import "bootstrap/thumbnails";
@import "bootstrap/labels-badges";
@import "bootstrap/carousel";

// Utility classes
@import "bootstrap/utilities"; // Has to be last to override when necessary

*:focus {
  outline: none !important;
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
}
h1 {
  font-size: 18px;
  font-weight: normal;
}
h2 {
  font-size: 16px;
  font-weight: normal;
}
h3 {
  font-size: 14px;
  font-weight: normal;
}
p {
  margin-bottom: 6px;
  margin-top: 0;
}
table {
  margin-bottom: 10px;
}

.datestamp {
  color: $mainOrangeColor;
}

span.match {
  font-weight: bold;
}
.active-img:hover {
  text-decoration: none;
}

.btn {
  font-size: 13px;
}

abbr[title], abbr[data-original-title] {
  cursor: default;
  border: none;
}

.carousel-control {
  opacity: 0.9;
  display: none;
}

//блок поиска
.form-search {
  width: 180px;
  overflow: hidden;
  margin-bottom: $marginMainTop;
  height: 26px;
  font-size: 13px;
  line-height: 16px;
  .input-append {
    .search-query {
      font-size: 13px;
      line-height: 16px;
      width: 116px;
      height: 24px;
      padding: 0 3px;
      @include border-radius(4px 0 0 4px);
      &:focus {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        border: 1px solid #CCCCCC;
      }
    }
    .btn {
      @include border-radius(0 4px 4px 0);
      padding: 0 8px;
      font-size: 13px;
      height: 26px;
      line-height: 26px;
    }
  }
}

#main_wrapper {
  width: 980px;
  margin: 0 auto;
  background: $mainGreyColor;
  padding-bottom: 20px;
  @include uba-min-height(600px);
  @include uba-block-shadow($mainShadowColor);

  #content_wrapper {
    width: 940px;
    margin: 5px auto;
    background: #fff;
    @include uba-min-height(600px);
    @include uba-block-shadow($mainShadowColor);
    @include border-radius(7px);

    #content_inset_shadow {
      width: 940px;
      background: #fff;
      @include uba-min-height(600px);
      @include border-radius(7px);
      box-shadow: inset 0px 7px 20px -5px $mainShadowColor;
      padding-top: 20px;
      padding-bottom: 20px;

      .main-content {
        @include uba-min-height(580px);
      }

      .page_top {
        height: 26px;
        overflow: hidden;
        margin-bottom: $marginMainTop;
        width: 522px;
        .page_title {
          display: block;
          width: 140px;
          height: 26px;
          padding-left: 20px;
          padding-right: 20px;
          overflow: hidden;
          margin: 0 auto;
          color: #fff;
          font-size: 14px;
          line-height: 26px;
          text-align: center;
          white-space: nowrap;
          text-overflow:ellipsis;
          @include uba-main-gradient;
        }
      }
    }
  }

  //Шапка
  .head {
    padding: 10px 0;
    header {
      display: block;
      height: 80px;
      overflow: hidden;
      background: #fff;
      @include uba-block-shadow($mainShadowColor);
      @include border-radius(5px);

      .inset-shadow {
        width: 220px;
        height: 80px;
        box-shadow: inset 0px -5px 30px -8px $mainShadowColor;
        h1 {
          display: block;
          width: 220px;
          height: 72px;
          color: $mainBlueColor;
          text-transform: uppercase;
          font-size: 12px;
          line-height: 20px;
          padding-top: 2px;
          padding-bottom: 6px;
          font-weight: normal;
          text-align: center;
          margin: 0;
          a {
            display: block;
            color: $mainBlueColor;
            height: 72px;
            font-size: 12px;
            background: url(<%= asset_path('logo.png') %>) no-repeat center bottom transparent;
            text-decoration: none;
            &:hover,
            &:focus {
              color: $mainBlueColor;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

}

//блок пользователя
.auth-block {
  width: 180px;
  overflow: hidden;
  margin-bottom: $marginMainTop;
  height: 26px;
  .btn-group {
    width: 180px;
    .btn {
      padding: 2px 1px;
      line-height: 20px;
      height: 20px;
      font-size: 13px;
      &:first-child {
        width: 66px;
      }
      &:last-child {
        width: 106px;
      }
      &.btn-logout {
        width: 86px;
      }
      &.btn-profile {
        width: 86px;
      }
    }
  }
}

//Окно авторизации
.login-box {
  width: 800px;
  overflow: hidden;
  font-size: 13px;
  h2, h3 {
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    margin: 0 0 10px 0;
  }
  .login-header {
    border-top: 1px solid $mainGreyColor;
    border-bottom: 1px solid $mainGreyColor;
    text-align: center;
    padding-top: 10px;
    h2 {
      text-align: center;
      line-height: 18px;
    }
  }
  .login-content {
    padding: 15px 30px 15px 30px;
    width: 339px;
    float: left;
    &:first-child {
      border-right: 1px solid $mainGreyColor;
    }
    .login-actions {
      text-align: right;
    }
    input[type="password"], input[type="email"], input[type="text"] {
      width: 323px;
    }
    label {
      font-size: 13px;
    }
    .new-user-text {
      height: 160px;
      overflow: hidden;
    }
  }
}

.social-networks {
  width: 218px;
  margin: 5px auto;
  .btn-facebook,
  .btn-twitter,
  .btn-vk {
    width: 60px;
    height: 12px;
    padding-top: 36px;
    display: inline-block;
    text-align: center;
    margin: 0 5px 0 5px;
    color: $mainGreyColor;
    font-size: 10px;
    line-height: 12px;
    &:hover {
      color: #000;
      text-decoration: none;
    }
  }
  .btn-facebook {
    background: url(<%= asset_path('fb.png') %>) no-repeat top center transparent;
  }
  .btn-twitter {
    background: url(<%= asset_path('tw.png') %>) no-repeat top center transparent;
  }
  .btn-vk {
    background: url(<%= asset_path('vk.png') %>) no-repeat top center transparent;
  }
}

.login-form {
  padding-left: 20px;
  padding-right: 20px;
  input[type="password"], input[type="email"], input[type="text"] {
    width: 469px;
  }
  .login-actions {
    margin-top: 15px;
    .user_registration {
      float: right;
      margin-top: 5px;
    }
    .user_forgot_password {
      float: right;
      margin-top: 5px;
      margin-right: 10px;
    }
  }
}

.form-actions.login-actions {
  padding: 5px 20px 5px;
  h3 {
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    color: #9c9c9c;
    margin: 5px 0 5px 0;
  }
  .social-networks {
    margin: 15px 0;
    width: 100%;
    .btn-facebook,
    .btn-twitter,
    .btn-vk {
      width: 91px;
      padding: 0;
      height: 23px;
      background: url(<%= asset_path('social.buttons.png') %>) transparent no-repeat 0 0;
    }
    .btn-facebook {
      background-position: 0px 0px;
      margin-left: 0;
      &:hover {
        background-position: 0px -25px;
      }
      &:active {
        background-position: 0px -50px;
      }
    }
    .btn-twitter {
      background-position: -194px 0px;
      &:hover {
        background-position: -194px -25px;
      }
      &:active {
        background-position: -194px -50px;
      }
    }
    .btn-vk {
      width: 99px;
      background-position: -93px 0px;
      &:hover {
        background-position: -93px -25px;
      }
      &:active {
        background-position: -93px -50px;
      }
    }
  }
}

#error_explanation {
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 12px -7px;
    background-color: #c00;
    color: #fff;
  }
  p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

select.date {
  width: 90px;
  &:first-child {
    width: 55px;
  }
  &:last-child {
    width: 67px;
  }
}

table.user_info {
  td, th {
    border: none;
  }
}

//виджеты
.widget-block {
  margin-bottom: 10px;
  .header {
    @include uba-main-gradient;
    color: #fff;
    line-height: 24px;
    font-size: 14px;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    a {
      display: block;
    }
  }
  .content {
    padding: 0 5px 5px 5px;
    margin-top: 10px;
    font-size: 12px;
    line-height: 16px;

    p {
      padding-bottom: 0;
      margin: 0;
      line-height: 16px;
    }
    .table td, .table th {
      line-height: 16px;
    }

    .datestamp {
      font-size: 10px;
      line-height: 13px;
    }
  }
}

.separator {
  border-bottom: 1px solid silver;
  margin-bottom: $marginMainTop;
  margin-top: $marginMainTop;
}

.footer {
  margin-top: 30px;
  text-align: center;
  font-size: 13px;
}

.share {
  margin-bottom: 20px;
  .yandex_share {
    float: left;
    width: 90px;
    padding: 5px 3px 5px 2px;
    font-weight: bold;
  }
  .yashare-auto-init {
    float: left;
    width: 300px;
  }
}

.breadcrumbs {
  display: block !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 522px;
  overflow: hidden;
  color: $mainOrangeColor;
  line-height: 26px;
  font-size: 13px;
  span.b-separator {
    color: $textColor;
  }
  a {
    color: $textColor;
    text-decoration: underline;
  }
}

.hb {
  height: 80px;
  overflow: hidden;
  .hb_1, .hb_2 {
    float: left;
    width: 340px;
    height: 80px;
    overflow: hidden;
  }
  .hb_1 {
    .banner_margin {
      margin-right: 10px;
    }

  }
  .hb_2 {
    margin-left: 20px;
  }
}
.foot_b {
  width: 446px;
  overflow: hidden;
}
.side_b {
  width: 180px;
  overflow: hidden;
  margin: 0;
  .banner_margin {
    display: block;
    margin-bottom: 10px;
  }
}
.top_b {
  width: 940px;
  overflow: hidden;
}

.pagination {
  color: $textColor;
  font-size: 13px;
  line-height: 18px;
  a {
    color: $textColor;
  }
  .current {
    color: $mainOrangeColor;
    font-style: normal;
  }
}

.carousel {
  margin-top: 8px;
  margin-bottom: 3px;
  .carousel-inner > .item {
    width: 940px;
    height: 190px;
    overflow: hidden;
  }
}

.news-body, .pages-body, .photoalbums, .competitions, #comments-news {
  margin-top: 18px;
}
