@import "variables";

.news {
  .news-info {
    border-bottom: 1px solid silver;
    margin-bottom: 13px;
    line-height: 16px;
    .datestamp {
      text-align: right;
      font-size: 10px;
      line-height: 16px;
    }
  }

  .news-body {
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 18px;

    p {
      margin-bottom: 16px;
    }
  }

  .news-item {
    .cover {
      width: 110px;
      float: left;
      text-align: center;
      margin-bottom: 0;
    }

    .content {
      float: left;
      width: 595px;
      margin-left: 7px;
      p {
        height: 52px;
        overflow: hidden;
        font-size: 13px;
        line-height: 14px;
        text-align: justify;
        margin-bottom: 0;
      }
      h1 {
        font-size: 14px;
        line-height: 14px;
        height: 16px;
        margin-top: 0;
        margin-bottom: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: bold;
        a {
          color: $textColor;
          line-height: 14px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

