@import "variables";

.widget-block {
  ul.page-index {
    padding: 0;
    margin-left: 13px;
    margin-bottom: 10px;
    li {
      list-style: disc outside none;
      margin-bottom: 8px;
      a {
        color: $textColor;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
      }
      &.active {
        a {
          color: $linkColor;
          text-decoration: underline;
        }
      }
    }
    ul {
      margin-bottom: 0;
      margin-left: 14px;
      li {
        list-style: circle outside none;
      }
    }
  }
}

.pages-body {
  font-size: 14px;
  line-height: 18px;
  p, h1, h2, h3, h4 {
    margin-bottom: 16px;
    img {
      display: block;
      margin: 20px auto;
    }
  }
}
