@import "variables";


.photoalbums {

  p {
    text-align: justify;
  }

  .datestamp {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 10px;
  }

  .album-info {
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 16px;
    .datestamp {
      text-align: right;
    }
  }

  .album-item {
    h1 {
      text-align: center;
      a {
        color: $textColor;
      }
      margin-bottom: 20px;
    }

    font-size: 14px;
    line-height: 18px;

    p {
      margin-bottom: 16px;
    }
    .content, .cover {
      margin-bottom: 10px;
    }
  }

  .show_album {
    h1 {
      text-align: center;
    }
  }
}



.show_album, .news-body {
  margin-bottom: 10px;

  .media {
    h1 {
      border-bottom: 1px solid $mainShadowColor;
      padding-bottom: 5px;
    }
    .photo {
      display: inline-block;
      margin-bottom: 8px;
      margin-right: 5px;
      margin-left: 4px;
      padding: 3px;
      background-color: #fff;
      min-height: 116px;
      width: 160px;
      text-align: center;
      cursor: pointer;
      a {
        display: block;
      }
    }
    .video {
      display: block;
      cursor: pointer;
      text-align: center;
      padding-bottom: 20px;
    }
    .wrap {
      width: 712px;
      padding: 5px;

    }
    padding-bottom: 20px;
  }

}

.media-item {
  width: 800px;
  padding: 0 10px 5px 10px;
  font-size: 13px;
  line-height: 16px;
  .description {
    width: 800px;
    padding-bottom: 10px;
    .info {
      padding-bottom: 5px;
    }
    .wide_column {
      width: 473px;
      float: left;
      padding-right: 20px;
    }
    .narrow_column {
      padding-left: 20px;
      width: 286px;
      float: right;

    }
  }
  .preview {
    //@include uba-min-height(600px);
    text-align: center;
    position: relative;
    padding-bottom: 10px;
    .photo-prev, .photo-next {
      position: absolute;
      left: 0;
      right: auto;
      top:  0;
      width: 100px;
      color: #fff;
      text-shadow: 1px 0px 3px #000;
      filter: dropshadow(color=#000, offx=1, offy=0);
      font-size: 76px;
      cursor: pointer;
      opacity: 0;
      &:hover {
        opacity: 1.0;
      }
    }
    .photo-next {
      left: auto;
      right: 0;
    }
  }
  textarea.comment-field {
    width: 263px;
  }
  .datestamp {
    font-size: 10px;
  }
}
