.user-info {
  .user_profile_menu {
    text-align: left;
    margin-top: 20px;
    p, a {
      height: 24px;
    }
    a {
      display: inline-block;
    }

    .edit_profile {
      a {
        background: url(<%= asset_path('edit.png') %>) no-repeat left center transparent;
        padding-left: 26px;
      }
    }

    .new_message {
      a {
        background: url(<%= asset_path('message.png') %>) no-repeat left center transparent;
        padding-left: 26px;
      }
    }
  }
}
