
@import "variables";

.search_results {
  .item {
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 16px;

    h3 {
      font-size: 16px;
      margin-top: 0;
      margin-bottom: 9px;
      a {
        color: $textColor;
        text-decoration: underline;
      }
    }
    .datestamp {
      margin-bottom: 9px;
      font-size: 12px;
    }
    .root_page {
      color: $textColor;
      text-decoration: underline;
    }
  }
}