@import "variables";

.forum {
  font-size: 13px;
  line-height: 16px;

  .breadcrumbs {
    width: 902px;
    margin-bottom: 15px;
  }

  table.topics {
    margin-bottom: 10px;

    th {
      text-align: center;
    }

    td {
      text-align: left;

    }

    td {
      padding: 3px;

      &.user-name {
        width: 174px;
        a {
          color: $mainOrangeColor;
        }
      }

      &.user-info {
        padding-top: 7px;
        text-align: center;
        a {
          color: $mainOrangeColor;
        }
      }
      &.forum-sign {
        color: $mainOrangeColor;
      }

      &.post {
        border-bottom: none;
        .post-body {
          min-height: 94px;
          position: relative;
          padding-bottom: 56px;
          p { margin-bottom: 10px; }
          img, .embeddedContent { margin: 10px 0; }
          .well {
            margin-top: 16px;
            position: absolute;
            margin-bottom: 0;
            width: 694px;
            bottom: 0;
          }

          .quote {
            background: #fff;
            padding: 0;
            margin: 0 0 0 10px;
            border:  none;
            color: grey;
            font-size: 12px;
            .quote {
              padding: 5px;
            }
            div {
              padding: 5px;
            }
            .clearfix {
              display: table;
              width: 100%;
              table-layout: fixed;
              color: $textColor;
              font-weight: bold;
              &:after, &:before {
                content: '';
              }
              .quote-title {
                position: relative;
                display: table-cell;
                width: 50%;
                background: #f1eeeb;
                font-size: 12px;
              }
              .quote-cite {
                position: relative;
                display: table-cell;
                width: 50%;
                background: #f1eeeb;
                text-align: right;
                font-size: 12px;
                .quote-author {
                  color: $textColor;
                }
                .datestamp {
                  color: $textColor;
                }
              }
            }
          }
        }

        .post-body * {
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
          font-size: 13px;
        }
      }
      &.post-toolbar {
        text-align: right;
        border-left: none;
        border-bottom: none;
        border-right: none;
        border-top: 1px solid #fff;
        vertical-align: middle;
      }
      &.forum-sign {
        border-left: none;
        border-bottom: none;
        border-right: none;
        border-top: 1px solid #fff;
        vertical-align: middle;
        height: 26px;
      }

      &.post-created {
        border-right: none;
      }

      &.post_counter {
        text-align: right;
        border-left: none;
        a {
          color: $mainOrangeColor;
        }
      }

      &.post-created, &.post_counter, &.user-name {
        background: #dad2c7;
      }
    }
  }

  .btn.attach {
    width: 150px;
  }
  .btn.btn-uba {
    @include uba-main-gradient;
    color:  #fff;
    text-shadow: none;
    border: none;
    box-shadow: none;
    &:hover {
      background-position: 0 0;
    }
    &:active {
      @include uba-darken-gradient;
    }
  }
}
