.qq-uploader {
  position: relative;
  width: 100%;
}
.qq-upload-button {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: whitesmoke;
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  }
.qq-upload-button-hover {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  transition: background-position 0.1s linear;
  }
.qq-upload-button-focus {
  outline: 1px dotted #000000;
}
.qq-upload-drop-area, .qq-upload-extra-drop-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 30px;
  z-index: 2;
  background: #FF9797;
  text-align: center;
}
.qq-upload-drop-area span {
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -8px !important;
  font-size: 16px;
}
.qq-upload-extra-drop-area {
  position: relative;
  margin-top: 50px !important;
  font-size: 16px;
  padding-top: 30px !important;
  height: 20px;
  min-height: 40px;
}
.qq-upload-drop-area-active {
  background: #FF7171;
}
.qq-upload-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.qq-upload-list li {
  margin: 0;
  padding: 9px;
  line-height: 15px;
  font-size: 16px;
  background-color: #FFF0BD;
}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-retry, .qq-upload-failed-text, .qq-upload-finished {
  margin-right: 12px !important;
}
.qq-upload-file {
}
.qq-upload-spinner {
  display: inline-block;
  background: url(<%= asset_path('loading.gif') %>);
  width: 15px;
  height: 15px;
  vertical-align: text-bottom;
}
.qq-drop-processing {
  display: none;
}
.qq-drop-processing-spinner {
  display: inline-block;
  background: url(<%= asset_path('processing.gif') %>);
  width: 24px;
  height: 24px;
  vertical-align: text-bottom;
}
.qq-upload-finished {
  display:none;
  width:15px;
  height:15px;
  vertical-align:text-bottom;
}
.qq-upload-retry {
  display: none;
  color: #000000;
}
.qq-upload-cancel {
  color: #000000;
}
.qq-upload-retryable .qq-upload-retry {
  display: inline;
}
.qq-upload-size, .qq-upload-cancel, .qq-upload-retry {
  font-size: 12px;
  font-weight: normal;
}
.qq-upload-failed-text {
  display: none;
  font-style: italic;
  font-weight: bold;
}
.qq-upload-failed-icon {
  display:none;
  width:15px;
  height:15px;
  vertical-align:text-bottom;
}
.qq-upload-fail .qq-upload-failed-text {
  display: inline;
}
.qq-upload-retrying .qq-upload-failed-text {
  display: inline;
  color: #D60000;
}
.qq-upload-list li.qq-upload-success {
  background-color: #f4f4f4;
  color: #5DA30C;
}
.qq-upload-list li.qq-upload-fail {
  background-color: #f4f4f4;
  color: #D60000;
}
.qq-progress-bar {
  background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */
  width: 0%;
  height: 15px;
  border-radius: 6px !important;
  margin-bottom: 3px !important;
  display: none;
}
