@import "variables";

div.user-info {
  width: 522px;
  margin: 0 auto;
  font-size: 13px;
  h3 {
    font-weight: bold;
  }
  .user_profile_menu {
    margin-top: 20px;

    .edit_profile, .new_message {
      padding-left: 26px;
      line-height: 26px;
    }
    .new_message {
      background: url(<%= asset_path('message.png') %>) no-repeat left center transparent;
    }
    .edit_profile {
      background: url(<%= asset_path('edit.png') %>) no-repeat left center transparent;
    }
  }
}
.receiver {
  margin-bottom: 20px;
}

#messages_box {
  height: 320px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 13px;
}

.message {
  margin-bottom: 10px;
  .user-pic, .user-name, .message-body {
    float: left;
  }
  .user-pic {
    width: 50px;
    text-align: center;
  }
  .user-name {
    width: 120px;
    margin-left: 5px;
    .datestamp {
      font-size: 12px;
    }
  }
  .message-body {
    width: 495px;
    margin-left: 5px;
    &.unreaded {
      background: #ffe7e0;
      border-radius: 4px;
    }
    .link-message {
      display: block;
      padding: 5px;
      min-height: 50px;
      color: $textColor;
      &:hover {
        color: $textColor;
        text-decoration: none;
        border-radius: 4px;
        background: #ffe7e0;
      }
    }
  }
}

#new-session, #new-registration, #new-password {
  width: 522px;
  margin: 0 auto;
}
