$mainGreyColor: #dadada;
$mainShadowColor: #7e7e7e;
$mainOrangeColor: #fe5720;
$mainBlueColor: #0057af;
$marginMainTop: 10px;

$baseFontSize: 14px;
$baseLineHeight: 18px;
$linkColor: #0057af;
$linkColorHover: #0057af;
$textColor: #333;


@mixin uba-main-gradient {
  background: #ca2000;
  background: linear-gradient(to bottom, #ca2000 0%,#ff5a2f 4%,#fe5720 9%,#fc5a12 17%,#ff5c17 22%,#fa5818 26%,#fb581f 30%,#f6551f 35%,#ea5118 52%,#db4520 65%,#c83e22 78%,#be3721 83%,#b83626 87%,#a02a26 96%,#b03e3d 100%);}

@mixin uba-darken-gradient {
  background: #a13212;
  background: linear-gradient(to bottom, #a13212 0%,#cc3b07 63%,#e74100 86%,#f84300 100%);
}

@mixin uba-min-height($height) {
  min-height: $height;
  height: auto !important;
  height: $height;
}

@mixin uba-block-shadow($shadowColor) {
  box-shadow: 1px 1px 10px 1px $shadowColor;
}

@mixin uba-forum-gradient {
  background: #252671;
  background: linear-gradient(to bottom, #252671 0%,#1a3b86 7%,#124c96 17%,#10519b 23%,#0f529c 30%,#016fb9 59%,#066db6 68%,#1368af 77%,#295ea2 89%,#425594 100%);}
