%h1= "#{t('devise.mailer.confirmation_instructions.welcome')}, #{@resource.name}!"

%p
  = t('devise.mailer.confirmation_instructions.you_are_welcomed')
  = link_to t(:site_title), root_url

%p= t('devise.mailer.confirmation_instructions.you_or_someone_else_during_registration_this_email')
%p= "#{t('devise.mailer.confirmation_instructions.if_is_you_then_you_need_to_go_on_the_following_link_to_confirm_your_registration')}:"

%p= link_to t('devise.mailer.confirmation_instructions.confirm_my_account'), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)

%hr

%p= "#{t(:regards)},"
%p
  = t('admin_users.site_admin')
  = link_to t(:site_title), root_url