%p
  = t('devise.mailer.confirmation_instructions.you_are_welcomed')
  = link_to t(:site_title), root_url

%p= t('devise.mailer.reset_password_instructions.info_link')

%p= link_to t('devise.mailer.reset_password_instructions.change_password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)

%hr

%p= "#{t(:regards)},"
%p
  = t('admin_users.site_admin')
  = link_to t(:site_title), root_url
