= semantic_form_for [:admin, @user] do |f|
  = f.inputs t('formtastic.details') do
    = f.input :email
    = f.input :password
    = f.input :password_confirmation
    = f.input :name

  = f.inputs t('activerecord.models.profile') do
    = f.semantic_fields_for :profile do |profile|
      - if @user.profile.avatar.exists?
        %li.optional
          %label.label= t('profiles.current_avatar')
          = image_tag @user.profile.avatar.url(:thumb), :size => @user.profile.avatar.image_size(:thumb)
      = profile.input :avatar
      = profile.input :birthday, :as => :date, :start_year => Date.today.year - 70, :end_year => Date.today.year - 12
      = profile.input :gender, :as => :radio, :collection => [ t('profiles.gender.male'), t('profiles.gender.female') ]
      = profile.input :forum_sign
      = profile.input :bio, :input_html => { :rows => '6' }
      = profile.input :show_email
      = profile.input :show_online

  = f.inputs t('users.moderation_options') do
    = f.input :roles, :as => :check_boxes, :collection => Group.all, :member_label => :description

  = f.actions do
    = f.action :submit 