<div class="preview">
    <img src="<%= sizes.show %>" width="<%= dimensions.show.width %>" height="<%= dimensions.show.height %>" />
</div>
<div class="description clearfix">
    <div class="wide_column">
        <% if(description) { %>
            <div class="info">
                <%= description %>
            </div>
        <% } %>
        <div id="comments-app">
            <div class="need-more-minerals" style="display: none;">Показать предыдущие комментарии</div>
            <ul id="comments"></ul>
            <div id="comment-form"></div>
        </div>
    </div>
    <div class="narrow_column">
        <div class="info">Альбом: <a href="<%= album_link %>"><%= album_name %></a></div>
        <div class="info">
            <a href="<%= sizes.original %>" target="_blank" class="download">
                Скачать фото
            </a>
        </div>
    </div>
</div>
