.container.navigation.gradient
  - if pages.size > 0
    = render_tree pages, :class => 'dropdown' do |n, child|
      %li{:class => n.path_eql?(path) && 'active'}
        = link_to n.title, n.nested_path
        - if n.root?
          %span
            = child
        - else
          = child
