= semantic_form_for [:admin, @competition] do |f|
  = error_messages(@competition)
  = f.inputs t('formtastic.details') do
    = f.input :title
    = f.input :start_at, :as => :date_select, :start_year => Date.today.year, :end_year => Date.today.year + 5
    - if @competition.thumbnail_image.exists?
      %li.optional
        %label.label= t('activerecord.attributes.competition.current_image')
        = image_tag @competition.thumbnail_image.url(:mini), :size => @competition.thumbnail_image.image_size(:mini)
    = f.input :thumbnail_image
    = f.input :video_link, :hint => t('competitions.must_be_video_or_image')
    = f.input :preview, :as => :ckeditor, :input_html => {:ckeditor => {:toolbar => 'Admin', :width => '76%'}}

  = f.actions do
    = f.action :submit
