@import "variables";

.widget-block {
  //деревья
  .content.competitions-archive {
    ul {
      padding: 0;
      margin-left: 0;
      margin-bottom: 10px;
      li {
        list-style: none;
        padding: 0;
        font-weight: bold;
        margin-bottom: 8px;
        line-height: 18px;
        font-size: 12px;
        position: relative;

        &.active {
          & > a {
            color: $linkColor;
            text-decoration: underline;
          }
        }
        &.inactive {
          & > ul {
            display: none;
          }
        }
        a {
          color: $textColor;
          display: block;
          padding-left: 12px;
          &.toggle {
            font-family: Courier;
            font-size: 13px;
            text-decoration: none;
            padding: 0;
            position: absolute;
          }
        }
        & > ul {
          margin-bottom: 0;
          margin-left: 12px;
          margin-top: 8px;
        }

      }
    }
    &.albums-archive {

      ul ul {
        margin-left: 24px;
        li {
          a {
            padding-left: 0;
          }

          list-style: disc outside none;
        }
      }

    }

    &.page-list {
      ul {
        margin-left: 13px;
        li.alone {
          list-style: disc outside none;
        }
        li {
          a {
            margin-left: -15px;
          }

          li {
            a {
              margin-left: 0;
            }
          }
        }
      }
      ul ul {
        margin-left: 13px;
        li {
          a {
            padding-left: 0;
          }

          list-style: circle outside none;
        }
      }
    }
  }
}
