@import "variables";

//виджет
.widget-block {
  .header {
    a {
      color: #fff;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .content {
    .latest-topic {
      margin-bottom: 10px;
      .topic {
        color: $textColor;
        text-decoration: underline;
        font-weight: bold;
      }
      .author {
        color: $textColor;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .all_forums {
    a {
      color: $textColor;
      font-weight: bold;
      font-size: 12px;
    }

    text-align: right;
  }
}