
@import "variables";

.widget-block {
  .content.games {
    margin-top: 0;
    min-height: 0 !important;
    height: 110px !important;
    overflow: hidden;
    background: #e0e0e0;
    padding: 0;
    table {
      margin: 0;
      border: none;

      tr:nth-child(2n+1) > td {
        background: #c2c2c2;
      }

      td {
        border: 1px solid #fff;
        padding: 0 3px;
        line-height: 21px;

        .current {
          color: $mainOrangeColor;
        }
        &:last-child {
          text-align: center;
          border-right: none;
        }
        &:first-child {
          border-left: none;
        }

        .games__title {
          width: 363px;
          overflow: hidden;
          word-spacing: nowrap;
          text-overflow: ellipsis;
        }
      }
      tr:first-child {
        td {
          border-top: none;
        }
      }
      tr:last-child {
        td {
          border-bottom: none;
        }
      }
    }
  }
}