@import "variables";

.widget-block {
  //деревья
  .content.archives {
    ul {
      padding: 0;
      margin-left: 0;
      margin-bottom: 10px;
      li {
        list-style: none;
        padding: 0;
        font-weight: bold;

        &.active {
          & > a {
            color: $linkColor;
            text-decoration: underline;
          }
        }
        &.inactive {
          & > ul {
            display: none;
          }
        }
        a {
          color: $textColor;
          font-size: 13px;
          line-height: 16px;
          &.toggle {
            font-family: Courier;
            text-decoration: none;
          }
        }
        & > ul {
          margin-bottom: 0;
          margin-left: 26px;
          margin-top: 3px;
        }
      }
    }
  }
}
