@import "variables";

.news-index {
  font-size: 13px;
  line-height: 16px;
  .news-info {
    border-bottom: 1px solid silver;
    margin-bottom: 13px;
    .datestamp {
      text-align: right;
      font-size: 10px;
      line-height: 16px;
    }
    .comments-info {
      padding-left: 116px;
      a {
        color: $mainOrangeColor;
        font-size: 10px;
        line-height: 16px;
      }
    }
  }

  .news-item {
    width: 522px;
    .cover {
      width: 110px;
      float: left;
      text-align: center;
      margin-bottom: 0;
    }

    .content {
      float: left;
      width: 405px;
      margin-left: 7px;
      font-size: 13px;
      p {
        height: 57px;
        overflow: hidden;
        line-height: 14px;
        font-size: 13px;
        text-align: justify;
        margin-bottom: 0;
      }
      h1 {
        font-size: 14px;
        line-height: 14px;
        height: 16px;
        margin-top: 0;
        margin-bottom: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: bold;
        a {
          color: $textColor;
          line-height: 14px;
          &:hover {
            text-decoration: underline;
          }
        }
      }

    }
  }

  .all_news {
    a {
      color: $textColor;
      font-weight: bold;
      font-size: 12px;
    }

    text-align: right;

  }
}
