@import "variables";

.random-photo {
  .header {
    @include uba-main-gradient;
    color: #fff;
    line-height: 24px;
    font-size: 14px;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    a {
      color: #fff;
      display: block;
      &:hover {
        text-decoration: none;
      }
    }
  }
  margin-bottom: 10px;

  a.rand-picture {
    display: block;
    width: 180px;
    overflow: hidden;
    position: relative;


    .description-overlay {
      position: absolute;
      width: 174px;
      height: 0;
      overflow: hidden;
      background: #333333;
      bottom: 0;
      left: 0;
      right: auto;
      top: auto;
      padding: 0 3px;
      transition: all 0.2s linear;

      p {
        margin: 0;
        font-size: 13px;
        line-height: 16px;
        color: #fff;
        text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.15);
      }
    }
  }
}
