@import "variables";

.widget-block {
  .header {
    a.twitter-link {
      display: block;
      color: #fff;

      &:hover {
        text-decoration: none;
      }
      span.twit-icon {
        display: inline-block;
        text-align: center;
        background: url(<%= asset_path('twit.png') %>) no-repeat center left transparent;
        padding-left: 28px;
      }
    }
  }

  .content.twitter {
    .datestamp {
      text-align: right;
      margin-bottom: 10px;
      a {
        color: inherit;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
