@import "variables";

.widget-block {
  .content {
    &.vfps {
      @include uba-min-height(200px);
      .vfps_logo > .logo {
        width: 62px;
        text-align: left;
        float: left;
        margin-right: 5px;
        margin-bottom: 10px;
      }
      .vfps_logo > .slogan {
        width: 90px;
        text-align: left;
        color: $mainBlueColor;
        font-size: 12px;
        line-height: 13px;
        padding-top: 5px;
        float: left;
      }
      .news-vfps {
        margin-bottom: 10px;
        .datestamp {
          margin-bottom: 3px;
          font-size: 10px;
          line-height: 13px;

        }
        .title a {
          color: $textColor;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      .all_news {
        text-align: right;
        font-weight: bold;
        a {
          color: $textColor;
        }
      }
    }
  }
}