
.widget-block.weather {
  padding: 0;
  overflow: hidden;

  .content {
    margin-top: 0;
    min-height: 0 !important;
    height: 110px !important;
    overflow: hidden;
    padding: 0;

    table.forecast-ram {
      background-color: #EAEAEA;
      border: none;
      width: 100%;
      margin-bottom: 0;
      td, th {
        text-align: center;
        font-size: 11px;
        line-height: 20px;
        padding: 0;
      }
      table {
        width: 100%;
        border: none;
        margin-bottom: 0;
        tr:first-child {
          td {
            border-top: none;
            line-height: 14px;
          }
        }
        tr:last-child {
          td {
            border-bottom: none;
          }
        }
        td {
          border: 1px solid #fff;
          img {
            width: 18px;
            height: 18px;
          }
          a {
            img {
              width: 90px;
              height: auto;
              vertical-align: middle;
            }
          }
          &:first-child {
            border-left: none;
          }
          &:last-child {
            border-right: none;
          }
        }
      }
    }
  }
}
