.activity
  .body
    .icon{style: "background-image: url(#{image_path "icons/#{a.key}.svg"});" }
    = timeago_tag a.created_at
    .title
      - if a.owner
        = link_to a.owner.name, user_path(a.owner), target: '_blank'
      - else
        = t('users.someone')
      = content_for :action
    .details
      .avatar
        = image_tag a.owner.profile.avatar.url(:thumb), size: '32x32', alt: a.owner.name
      = yield
