-# Двухколоночный шаблон
-# Все внутренние страницы
<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns:vml="urn:schemas-microsoft-com:vml" lang="ru"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" xmlns:vml="urn:schemas-microsoft-com:vml" lang="ru"> <!--<![endif]-->
%head
  %meta{:charset => "utf-8"}
  %title= title
  %meta{:name => 'description', :content => meta_description }
  %meta{content: 'telephone=no', name: 'format-detection'}
  %meta{ property: 'og:title', content: title }
  %meta{ property: 'og:image', content: image_url('logo.png') }
  %meta{ property: 'og:image:type', content: 'image/png' }
  %meta{ property: 'og:image:width', content: '100' }
  %meta{ property: 'og:image:heigh', content: '55' }
  %meta{ property: 'og:site_name', content: t(:site_title) }
  %meta{ property: 'og:description', content: meta_description }
  = stylesheet_link_tag    "inner", :media => "all"
  -# Задний фон
  %style{:type => "text/css"}
    :plain
      body {
        background: url("#{settings_value('Задний фон')}") center top fixed repeat #fff;
      }

  = content_for?(:rss_head) ? yield(:rss_head) : auto_discovery_link_tag(:rss, news_index_url(:format => :rss))
  = csrf_meta_tags
%body
  #main_wrapper

    -# Header
    .container.head
      .row
        .span3
          %header
            .inset-shadow
              %h1= link_to t(:site_title), root_path
        .span9
          .hb.clearfix
            .hb_1= render_cell :banner, :show, :place => 'Левый в шапке'
            .hb_2= render_cell :banner, :show, :place => 'Правый в шапке'

    -# Navigation
    - presenter 'menu', 'show', page_link

    -# Slider
    .container
      .row
        .span12= yield(:top)

    -# Main content
    #content_wrapper
      #content_inset_shadow
        .container_24.clearfix
          .grid_5.left-side
            = render 'users/auth_block'
          .grid_14
            -# Заголовок страницы
            .page_top
              -# Хлебные крошки
              .breadcrumbs
                = breadcrumbs(display_single_fragment: true)
          .grid_5.right-side
            = render 'search/form'
        .container_24.clearfix
          .grid_5.left-side
            -# Левый блок
            - if content_for?(:left_side)
              = yield(:left_side)
            - else
              :plain
                &nbsp;
            .side_b= render_cell :banner, :show, :place => 'Левый сайдбар'
          .grid_19
            -# Уведомления
            - if notice
              .alert.alert-info= notice
            - if alert
              .alert.alert-error= alert
            .main-content
              -# Контент страницы
              = content_for?(:page_content) ? yield(:page_content) : @page_content
              -# Главный контент
              = yield
        .container_24.clearfix
          .grid_24
            = yield(:bottom)
        .container_24.clearfix
          .grid_12
            .foot_b= render_cell :banner, :show, :place => 'Левый в подвале'
          .grid_12
            .foot_b= render_cell :banner, :show, :place => 'Правый в подвале'
        .container_24.clearfix
          .grid_24
            .separator
        .container_24.clearfix
          .grid_24
            - presenter 'footer', 'show'
        .container_24.clearfix
          .grid_24.footer= settings_value("Текст в подвале страницы").html_safe


  = javascript_include_tag :application

  %script{data: {main: '/assets/app/config'}, src: '/assets/vendor/requirejs.js'}

  - if user_signed_in?
    :javascript
      $(document).ready(function(){
        window.currentUser = {
          id: #{current_user.id}
        };
      });
  = yield(:javascript_bottom)
  = render 'shared/metrics'
</html>
